<div class="alert alert-warning" role="alert">
  MultiQuote Comparison component is not supported in Flux layout
</div>
<!--<section>
    <div class="vm-content container">
        <div class="row">
            <div class="col-12 px-0 vm-pricing">
                <div class="nonloop owl-carousel owl-theme d-flex">
                    <div *ngIf="BasicQuote" data-dot="<button>Basic Coverage</button>"
                        class="item card vm-coverage-card rounded-lg mb-5 mb-lg-0 col-12 px-0 pr-lg-3 ml-lg-4" [ngClass]="cardcssclass">
                        <exp-quotecomparison-card [type]="'basic'" [quote]="BasicQuote"
                            (buynow)="buynow1($event,'basic')" (coverageChange)="covChange($event,'basic')"
                            (attributeChange)="attrChange($event,'basic')">
                        </exp-quotecomparison-card>
                    </div>
                    <div *ngIf="FullQuote" data-dot="<button>Full Coverage</button>"
                        class="card item vm-coverage-card rounded-lg mb-5 mb-lg-0 col-12 px-0 vm-coverage-card-selected" [ngClass]="cardcssclass">
                        <exp-quotecomparison-card [type]="'full'" [quote]="FullQuote" (buynow)="buynow1($event,'full')"
                            (coverageChange)="covChange($event,'full')" (attributeChange)="attrChange($event,'full')">
                        </exp-quotecomparison-card>
                    </div>
                    <div *ngIf="CustomQuote" data-dot="<button>Customize</button>"
                        class="card item vm-coverage-card vm-coverage-customize rounded-lg mb-5 mb-lg-0 col-12 px-0 pl-lg-3" [ngClass]="cardcssclass">
                        <exp-quotecomparison-card [type]="'custom'" [quote]="CustomQuote"
                            (buynow)="buynow1($event,'custom')" (coverageChange)="covChange($event,'custom')"
                            (attributeChange)="attrChange($event,'custom')">
                        </exp-quotecomparison-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
