
.form-control, .form-select {
    max-width: 350px;
  }
  
  
  .w-150{
    width: 150px;
  }
  .p-paginator .p-dropdown {    
    height: unset;
  }

  :host ::ng-deep .p-paginator .p-dropdown {    
    height: unset;
    min-width: unset;
  }
