.p-paginator .p-dropdown {    
    height: unset;
  }

  :host ::ng-deep .p-paginator .p-dropdown {    
    height: unset;
    min-width: unset;
  }
  // p-table td {
  //   border: solid 1px #666;
  //   width: 110px;
  //   word-wrap: break-word;
  // }