
.form-control, .form-select {
  max-width: 350px;
}


.w-150 {
  width: 150px;
}






@media (min-width: 576px) {
  .custom-modal {
    max-width: 600px; /* Set maximum width of the modal for medium screens */
  }
}

@media (min-width: 768px) {
  .custom-modal {
    max-width: 700px; /* Set maximum width of the modal for large screens */
  }
}

@media (min-width: 992px) {
  .custom-modal {
    max-width: 800px; /* Set maximum width of the modal for extra-large screens */
  }
}

@media (min-width: 1200px) {
  .custom-modal {
    max-width: 900px; /* Set maximum width of the modal for larger screens */
  }
}
