<!DOCTYPE html>
<html>
<head>
  <title>New Plant Registration</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    h2 {
      text-align: left;
    }

    table {
      margin: 0 auto;
    }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    input[type="submit"], input[type="button"] {
      margin: 10px;
    }
  </style>
</head>
<body>

  <h2>New Plant Registration</h2>

  <!--<center>-->
  <div>
    <form action="/submit_new_plant" method="post">
      <table align="left">
        <tr>
          <th>Plant Name:</th>
          <td><input type="text" name="plant_name" required></td>
        </tr>
        <tr>
          <th>Plant Code:</th>
          <td><input type="text" name="plant_code" required></td>
        </tr>
        <tr>
          <th>Plant Address:</th>
          <td><textarea name="plant_address" rows="5" required></textarea></td>
        </tr>
        <tr>
          <th>comments:</th>
          <td><input type="text" name="plant_name" required></td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Submit">
            <input type="button" value="Cancel" onclick="window.location.href='/';">
          </td>
      </table>
    </form>



    <!--</center>-->
  </div>
</body>
</html>
