<li class="vm-list-group-item" [class.accordian-active]="item.IsActive">
  <a class="text-white d-block" (click)="ActivateFilter(item)">
    {{ item.DisplayName }}
    <span class="float-right">
      <img src="assets/img/warning.png"
           alt="Not compoleted"
           *ngIf="!item.CoveragesSelected" />
      <img src="assets/img/completed.svg"
           alt="completed"
           *ngIf="item.CoveragesSelected" />
    </span>
  </a>
  <ng-container *ngIf="item.filterdata.length > 0 && item.IsActive">
    <section>
      <form #filterForm="ngForm" name="filterForm">
        <div class="vm-content px-5">
          <div class="form-group row mb-4"
               *ngFor="let risk of item.filterdata; let i = index; let la = last">
            <div class="col-12">
              <div class="vm-column-gutter pl-0">
                <kendo-dropdownlist name="{{ item.DisplayName }}_{{ risk.DisplayName }}"
                                    class="w-100"
                                    [data]="risk.filteritems"
                                    [valuePrimitive]="true"
                                    [(ngModel)]="risk.value"
                                    [defaultItem]="risk.defaultItem"
                                    [textField]="'DisplayName'"
                                    [kendoDropDownFilter]="{
                    caseSensitive: false,
                    operator: 'contains'
                  }"
                                    [valueField]="'Id'"
                                    (valueChange)="changevalue($event, i)"
                                    [required]="la">
                </kendo-dropdownlist>
              </div>
            </div>
          </div>
        </div>
        <div class="footer pb-5">
          <div class="row">
            <div class="col-12 text-center">
              <a class="clr-btn" (click)="clear()" type="reset">Clear</a>
              <button type="button"
                      class="btn btn-primary"
                      (click)="filterchange(filterForm)"
                      [disabled]="!filterForm.valid">
                Filter
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </ng-container>
</li>
