.dropdown.vm-multi-select-dropdown > .dropdown-toggle {
  padding: 0.5rem !important;
  border: 1px solid #e0e3eb !important;
  position: relative !important;
  padding-right: 2rem !important;
  width: 100%;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  color: #827b7b !important;
  background-color: white;
  outline: none !important;
   
  &::after {
    right: 5%;
    position: absolute;
    top: 50%;
    transform: translate(-5%, -50%);
  }
}

.vm-custom-dropdown {
  & button {
    border: 1px solid #cabdbd;
    border-right: 0;
    background: transparent;
    border-radius: 0;
    text-align: left;
    padding-left: 0.7rem;

    & + span {
      border-left: 0;
      border-right: 1px solid #cabdbd;
      padding: 0;

      & span {
        left: 4px;
        position: relative;
      }

      &:after {
        border-top: 0px solid transparent !important;
      }
    }
  }
}

.dropdown-menu {
  min-width: 11rem !important;
}

.dropdown-popup {
  min-height: 0px;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 0 10px 10px;
  width: 17.2rem;

  input {
    width: calc(100% - 8px);
    border-width: 1px;
    padding-left: 4px;

    &:focus {
      border-color: rgba(0, 0, 0, 0.15);
      outline: none;
      border-width: 1px;
    }
  }
}
