<div class="dropdown vm-multi-select-dropdown vm-custom-dropdown"
     (clickOutside)="onClickedOutside($event)">
  <button #buttonElement
          [ngStyle]="{ 'width.px': width, 'height.px': height }"
          class="dropdown-toggle"
          (click)="onToggle()"
          [title]="selectedTexts.join(',')"
          [disabled]="isControlDisabled"
          #dropdown>
    <span *ngIf="selectedTexts?.length == 0">Select</span>
    <span *ngIf="selectedTexts?.length > 0">{{ selectedTexts.join(",") }}</span>
  </button>

  <kendo-popup [anchor]="dropdown"
               (anchorViewportLeave)="show = false"
               *ngIf="show">
    <div class="dropdown-popup"
         style="background-color: white"
         [ngStyle]="{ 'width.px': buttonElement.offsetWidth }">
      <div class="vm-input-group icon-right">
        <svg id="search_copy_2"
             class="search-icon icon-svg"
             data-name="search copy 2"
             xmlns="http://www.w3.org/2000/svg"
             width="17"
             height="17"
             viewBox="0 0 17 17">
          <defs>
            <style>
              .search-icon .cls-1 {
                fill: #4f5d5f;
              }

              .search-icon .cls-1,
              .search-icon .cls-2,
              .search-icon .cls-3,
              .search-icon .cls-4,
              .search-icon .cls-5,
              .search-icon .cls-6 {
                fill-rule: evenodd;
              }

              .search-icon .cls-2 {
                fill: #dfe7f4;
              }

              .search-icon .cls-3 {
                fill: #eff7ff;
              }

              .search-icon .cls-4 {
                fill: #415051;
              }

              .search-icon .cls-5 {
                fill: #ef3800;
              }

              .search-icon .cls-6 {
                fill: #ff631a;
              }
            </style>
          </defs>
          <path id="magnify_copy_4"
                data-name="magnify copy 4"
                class="cls-1"
                d="M821,221c3.9,0,7,2.634,7,6a8.029,8.029,0,0,1-2,5,5.584,5.584,0,0,1-4,2,6.774,6.774,0,0,1-7-7C815.062,224.333,817.6,221,821,221Z"
                transform="translate(-815 -221)"></path>
          <path id="magnify_copy_5"
                data-name="magnify copy 5"
                class="cls-2"
                d="M821,223a4.719,4.719,0,0,1,5,5c0.019,1.873-2.392,4-4,4-2.446-.019-5-1.781-5-4C817,225.825,818.314,223,821,223Z"
                transform="translate(-815 -221)"></path>
          <path id="magnify"
                class="cls-3"
                d="M826.805,232.8l-1.232-1.232-0.331.331,1.232,1.232ZM817,228a5.188,5.188,0,0,1,1-4l7,7a4.072,4.072,0,0,1-3,1C817.937,232,817,228,817,228Z"
                transform="translate(-815 -221)"></path>
          <path id="magnify_copy_3"
                data-name="magnify copy 3"
                class="cls-4"
                d="M826,231l1,1-1,1-1-1Z"
                transform="translate(-815 -221)"></path>
          <path id="magnify_copy"
                data-name="magnify copy"
                class="cls-5"
                d="M827,233c0.376-.345.875-1.125,2,0l3,3-2,2-3-3A1.169,1.169,0,0,1,827,233Z"
                transform="translate(-815 -221)"></path>
          <path id="magnify_copy_2"
                data-name="magnify copy 2"
                class="cls-6"
                d="M827,233l4,4-1,1-3-3A1.538,1.538,0,0,1,827,233Z"
                transform="translate(-815 -221)"></path>
        </svg>
        <input [(ngModel)]="searchTerm"
               #category
               (keyup)="onkeyup(category.value)"
               placeholder="Search"
               class="form-control" />
      </div>
      <kendo-treeview [nodes]="data"
                      [textField]="textfield"
                      [hasChildren]="hasChildren"
                      [children]="fetchChildren"
                      kendoTreeViewExpandable
                      [expandedKeys]="expandedKeys"
                      [isExpanded]="isExpanded"
                      (collapse)="handleCollapse($event)"
                      (expand)="handleExpand($event)"
                      [kendoTreeViewSelectable]="selection"
                      [selectBy]="valueField"
                      [(selectedKeys)]="selectedKeys"
                      (selectionChange)="handleSelection($event)">
      </kendo-treeview>
    </div>
  </kendo-popup>
</div>
