.page-card-title{
    background-color:rgb(227, 237, 240);
}
.icons{
    color:rgb(60, 121, 174);
}
.viewDocument{
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}



/* CSS for checked checkbox */
.checked-checkbox {
    background-color: green;
  }
  
  /* CSS for unchecked checkbox */
  .unchecked-checkbox {
    background-color: red;
  }
  


  .activity-section {
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  
  .activity-header {
    border-bottom: 2px solid #dee2e6;
    margin-bottom: 15px;
  }
  
  .activity-title {
    margin: 0;
    padding: 10px 0;
    font-size: 1.5rem;
    color: #343a40;
  }
  
  .activity-header-row {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
  }
  
  .activity-entry {
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
  }
  
  .activity-entry:last-child {
    border-bottom: none;
  }
  
  .activity-items,
  .activity-name,
  .activity-time,
  .activity-reason {
    display: flex;
    align-items: center;
  }
  
  .activity-icon i {
    margin-right: 10px;
  }
  
  .badge {
    padding: 0.3em 0.6em;
    font-size: 0.9em;
  }
  
  .name-styles {
    font-weight: bold;
  }
  
  .p-date-styles {
    margin: 0;
    padding: 0;
  }
  


  