<body>

  <div class="container-fluid">
<div class="row p-2">
<div class="col">
 
  

<div class="col d-flex justify-content-between align-items-center">
  <h4 class="page-title">Set Functional Profile</h4>
      <div class="back-icon" style="margin-right: 10px;">
        <a href="javascript:void(0);" onclick="history.back();">
          <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px;"></i>
        </a>
      </div>
    </div>
</div>
</div>
<div class="row p-2">
<div class="col">
  <form (ngSubmit)="onSubmit(profile)"  #fm="ngForm">
  <div class="p-4 bg-white shadow-dark rounded-2">
    
    <div class="form-group row">
      <label for="role" class="col-sm-2 col-form-label">Role <span style="color: red; font-weight: bolder;">*</span></label>
      <div class="col-sm-10">
        <p-dropdown
        name="role"
        [required]="true"
        id="role"
        [options]="roleTypes"
        [(ngModel)]="profile.role"
        optionLabel="Role" placeholder="Select a Role"
        optionValue="Role" (ngModelChange)="binddata(profile.role)"
      >
      </p-dropdown>

      </div>
    </div>










    <div class="accordion" id="adminAccordion" style="margin-bottom: 20px;">
      <div class="accordion-item">
        <h2 class="accordion-header" id="newAccordionHeader">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#newAccordionCollapse" aria-expanded="true" aria-controls="newAccordionCollapse">
            <span style="font-weight: bold; color: #333;">Work Assigned</span>
          </button>
        </h2>
        <div id="newAccordionCollapse" class="accordion-collapse collapse show" aria-labelledby="newAccordionHeader" data-bs-parent="#newAccordion">
          <div class="accordion-body">
            <div class="form-group row">
              <label for="workItemsassigned" class="col-sm-2 col-form-label">Work assigned to Me</label>
              <div class="col-sm-1">
                <input type="checkbox" class="form-check-input" id="workItemsassigned" name="workItemsassigned" [(ngModel)]="profile.workItemsassigned" [disabled]="viewMode" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="accordion" id="adminAccordion" style="margin-bottom: 20px;">
      <div class="accordion-item">
        <h2 class="accordion-header" id="adminManagementHeader">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#adminManagementCollapse" aria-expanded="true" aria-controls="adminManagementCollapse">
           
            <span style="font-weight: bold; color: #333;">Admin Management</span>
          </button>
        </h2>
        <div id="adminManagementCollapse" class="accordion-collapse collapse show" aria-labelledby="adminManagementHeader" data-bs-parent="#adminAccordion">
          <div class="accordion-body">
            <div class="form-group row">
              <label for="securityMgmt" class="col-sm-2 col-form-label">Security Management</label>
              <div class="col-sm-1">
                <input type="checkbox" class="form-check-input" id="securityMgmt" name="securityMgmt" [(ngModel)]="profile.securityMgmt" [disabled]="viewMode" />
              </div>
              <!-- <label for="securityConfig" class="col-sm-2 col-form-label">Security Configurations</label>
              <div class="col-sm-1">
                <input type="checkbox" class="form-check-input" id="securityConfig" name="securityConfig" [(ngModel)]="profile.securityConfig" [disabled]="viewMode" />
              </div>
              <label for="approvalConfigs" class="col-sm-2 col-form-label">E sign and Approval Configurations</label>
              <div class="col-sm-1">
                <input type="checkbox" class="form-check-input" id="approvalConfigs" name="approvalConfigs" [(ngModel)]="profile.approvalConfigs" [disabled]="viewMode" />
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    








    <div class="accordion" id="adminAccordion" style="margin-bottom: 20px;">
      <div class="accordion-item">
        <h2 class="accordion-header" id="hierarchyManagementHeader">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#hierarchyManagementCollapse" aria-expanded="true" aria-controls="hierarchyManagementCollapse">         
            <span style="font-weight: bold; color: #333;">Hirearchy Management</span>
          </button>
        </h2>
        <div id="hierarchyManagementCollapse" class="accordion-collapse collapse show" aria-labelledby="hierarchyManagementHeader" data-bs-parent="#hierarchyAccordion">
          <div class="accordion-body">
            <div class="form-group row">
              <label for="roleConfig" class="col-sm-2 col-form-label">Role Configuration</label>
              <div class="col-sm-1">
                <input type="checkbox" class="form-check-input" id="roleConfig" name="roleConfig" [(ngModel)]="profile.roleConfig" [disabled]="viewMode" />
              </div>
              <label for="deptConfig" class="col-sm-2 col-form-label">Department Configuration</label>
              <div class="col-sm-1">
                <input type="checkbox" class="form-check-input" id="deptConfig" name="deptConfig" [(ngModel)]="profile.deptConfig" [disabled]="viewMode" />
              </div>
              <label for="setFunctionalprofile" class="col-sm-2 col-form-label">Set Functional Profile</label>
              <div class="col-sm-1">
                <input type="checkbox" class="form-check-input" id="setFunctionalprofile" name="setFunctionalprofile" [disabled]="viewMode" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    






    <div class="accordion" id="adminAccordion" style="margin-bottom: 20px;">
      <div class="accordion-item">
        <h2 class="accordion-header" id="plantConfigurationHeader">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#plantConfigurationCollapse" aria-expanded="true" aria-controls="plantConfigurationCollapse">
            
            <span style="font-weight: bold; color: #333;">Plant Configuration</span>
          </button>
        </h2>
        <div id="plantConfigurationCollapse" class="accordion-collapse collapse show" aria-labelledby="plantConfigurationHeader" data-bs-parent="#plantConfigurationAccordion">
          <div class="accordion-body">
            <div class="form-group row">
              <label for="plantMgmt" class="col-sm-2 col-form-label">Plant Management</label>
              <div class="col-sm-10">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="plantMgmt"
                  name="plantMgmt"
                  placeholder=""
                  [(ngModel)]="profile.plantMgmt" [disabled]="viewMode"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    



      <div class="accordion" id="adminAccordion" style="margin-bottom: 20px;">
        <div class="accordion-item">
          <h2 class="accordion-header" id="userManagementHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#userManagementCollapse" aria-expanded="true" aria-controls="userManagementCollapse">
              
              <span style="font-weight: bold; color: #333;">User Management</span>
            </button>
          </h2>
          <div id="userManagementCollapse" class="accordion-collapse collapse show" aria-labelledby="userManagementHeader" data-bs-parent="#userManagementAccordion">
            <div class="accordion-body">
              <div class="form-group row">
                <label for="userConfig" class="col-sm-2 col-form-label">User Configuration</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="userConfig" name="userConfig" [(ngModel)]="profile.userMgmt" [disabled]="viewMode" />
                </div>
                <label for="Activate" class="col-sm-2 col-form-label">Activate/De-Activate User</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="Activate" name="Activate" [(ngModel)]="profile.Activatestatus" [disabled]="viewMode" />
                </div>
                <!-- <label for="userGroupConfig" class="col-sm-2 col-form-label">User Group Configuration</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="userGroupConfig" name="userGroupConfig" [(ngModel)]="profile.userGroupConfig" [disabled]="viewMode" />
                </div>
                <label for="Audit" class="col-sm-2 col-form-label">Audit Log</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="Audit" name="Audit" [(ngModel)]="profile.Audit" [disabled]="viewMode" />
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      





      <div class="accordion" id="adminAccordion" style="margin-bottom: 20px;">
        <div class="accordion-item">
          <h2 class="accordion-header" id="documentMasterHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#documentMasterCollapse" aria-expanded="true" aria-controls="documentMasterCollapse">
              
              <span style="font-weight: bold; color: #333;">Document Master</span>
            </button>
          </h2>
          <div id="documentMasterCollapse" class="accordion-collapse collapse show" aria-labelledby="documentMasterHeader" data-bs-parent="#documentMasterAccordion">
            <div class="accordion-body">
              <div class="form-group row">
                <label for="documentTypeConfig" class="col-sm-2 col-form-label">Document Type Configuration</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="documentTypeConfig" name="documentTypeConfig" [(ngModel)]="profile.documentTypeConfig" [disabled]="viewMode" />
                </div>
                <label for="documentTemplateConfig" class="col-sm-2 col-form-label">Document Template Configuration</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="documentTemplateConfig" name="documentTemplateConfig" [(ngModel)]="profile.documentTemplateConfig" [disabled]="viewMode" />
                </div>
                <label for="workflowConfig" class="col-sm-2 col-form-label">Workflow Configuration</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="workflowConfig" name="workflowConfig" [(ngModel)]="profile.workflowConfig" [disabled]="viewMode" />
                </div>
                <!-- <label for="dashboardConfig" class="col-sm-2 col-form-label">Dashboard Configuration</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="dashboardConfig" name="dashboardConfig" [(ngModel)]="profile.dashboardConfig" [disabled]="viewMode" />
                </div>
                <label for="notificationConfig" class="col-sm-2 col-form-label">Notification Configuration</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="notificationConfig" name="notificationConfig" [(ngModel)]="profile.notificationConfig" [disabled]="viewMode" />
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      









      <div class="accordion" id="documentManagerAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="documentManagerHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#documentManagerCollapse" aria-expanded="true" aria-controls="documentManagerCollapse">
              
              <span style="font-weight: bold; color: #333;">Document Manager</span>
            </button>
          </h2>
          <div id="documentManagerCollapse" class="accordion-collapse collapse show" aria-labelledby="documentManagerHeader" data-bs-parent="#documentManagerAccordion">
            <div class="accordion-body">
              <div class="form-group row">
                <label for="documentRequest" class="col-sm-2 col-form-label">Document Request</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="documentRequest" name="documentRequest" [(ngModel)]="profile.documentRequest" [disabled]="viewMode" />
                </div>
                <label for="documentpreparation" class="col-sm-2 col-form-label">Document Preparation</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="documentpreparation" name="documentpreparation" [(ngModel)]="profile.documentPreperation" [disabled]="viewMode" />
                </div>
                <label for="documentEffective" class="col-sm-2 col-form-label">Document Effective</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="documentEffective" name="documentEffective" [(ngModel)]="profile.documentEffective" [disabled]="viewMode" />
                </div>
                
                <label for="documentRevison" class="col-sm-2 col-form-label">Document Revision</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="documentRevison" name="documentRevison" [(ngModel)]="profile.documentRevison" [disabled]="viewMode" />
                </div>
                <label for="downloadPrint" class="col-sm-2 col-form-label">Document Print</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="downloadPrint" name="downloadPrint" [(ngModel)]="profile.downloadPrint" [disabled]="viewMode" />
                </div>
                <label for="docrepository" class="col-sm-2 col-form-label">Existing Document Request</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" id="docrepository" name="docrepository" [(ngModel)]="profile.docrepository" [disabled]="viewMode" />
                </div>
                
               
              </div>
            </div>
          </div>
        </div>
      </div>


      
      
     
      
      
      
      
      
      
      
      
      
    
    
    
    
    
    
  </div>

  <div class="form-group row my-4" *ngIf="access">
    <div class="col-sm-10 offset-sm-2">
      <button type="button" class="btn btn-outline-secondary mx-2" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn btn-primary" *ngIf="!editMode" [disabled]="!fm.form.valid || isButtonDisabled">Submit</button>
      <button type="submit" class="btn btn-primary" *ngIf="editMode" [disabled]="isButtonDisabled">Update</button>
    </div>
  </div>

</form>
</div>
</div>
</div>


</body>
<style>
/* Style for the unchecked checkbox */
.form-check-input {
  /* Adjust background color and border to make it brighter */
  background-color: #ffffff; /* Brighter background color */
  border: 2px solid #007bff; /* Brighter border color */
  /* Add any other desired styles */
}

/* Style for the checked checkbox */
.form-check-input:checked {
  /* Keep the same styles for the checked state or customize as needed */
  background-color: #007bff; /* Keep the same or adjust as desired */
  border: 2px solid #007bff; /* Keep the same or adjust as desired */
}

/* Adjust label styles for better alignment */

  /* Style to remove red border highlight */
  .custom-border {
    border: 2px solid #ccc !important;
  }



</style>