<div class="container-fluid">
  <div class="row p-2">
    <div class="col">
      <h4 class="page-title">Document Preparation ({{preparation.reqCode}})</h4>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <form (ngSubmit)="savePreparation()">
        <div class="p-4 bg-white shadow-dark rounded-2">
          <!-- <div class="form-group row">
            <label for="reqCode" class="col-sm-2 col-form-label"
              >Req Code</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="reqCode"
                name="reqCode"
                placeholder="System Generated"
                [(ngModel)]="preparation.reqCode"
                readonly
              />
            </div>
          </div> -->

          <div class="form-group row">
            <label for="documentTitle" class="col-sm-2 col-form-label"
              >Document Title</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="documentTitle"
                name="documentTitle"
                placeholder="Document Title"
                [(ngModel)]="preparation.documentTitle"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="docNoType" class="col-sm-2 col-form-label">
                Document Number </label>
            <div class="col-sm-10">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  name="docNoType"
                  type="radio"
                  id="docNoType2"
                  [(ngModel)]="preparation.docNoType"
                  value="System Generated"
                />
                <label class="form-check-label" for="docNoType2"
                  >System Generated</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  name="docNoType"
                  type="radio"
                  id="docNoType1"
                  [(ngModel)]="preparation.docNoType"
                  value="User Defined"
                />
                <label class="form-check-label" for="docNoType1">User Defined</label>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="preparation.docNoType === 'User Defined'">
            <label for="documentNumber" class="col-sm-2 col-form-label"
              >Document Number</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="documentNumber"
                name="documentNumber"
                placeholder="Document Number"
                [(ngModel)]="preparation.documentNumber"
              />
            </div>
          </div>

          <div class="form-group row" *ngIf="preparation.docNoType !== 'User Defined'">
            <label for="documentNumber" class="col-sm-2 col-form-label"
              >Document Number</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="documentNumber"
                name="documentNumber"
                placeholder="System Generated"
                readonly
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="docType" class="col-sm-2 col-form-label"
              >Document Type</label
            >
            <div class="col-sm-10">
              <p-dropdown
                name="docType"
                [options]="typeSource"
                [(ngModel)]="preparation.documentType"
                optionLabel="label"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="form-group row">
            <label for="department" class="col-sm-2 col-form-label"
              >Department</label
            >
            <div class="col-sm-10">
              <p-dropdown
                name="department"
                [options]="departmentsSource"
                [(ngModel)]="preparation.department"
                optionLabel="label"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="form-group row">
            <label for="workflow" class="col-sm-2 col-form-label"
              >Workflow</label
            >
            <div class="col-sm-10">
              <p-dropdown
                name="workflow"
                [options]="workflowsSource"
                [(ngModel)]="preparation.workflow"
                optionLabel="label"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="form-group row">
            <label for="template" class="col-sm-2 col-form-label"
              >Template</label
            >
            <div class="col-sm-10">
              <p-dropdown
                name="template"
                [options]="templatesSource"
                [(ngModel)]="preparation.template"
                optionLabel="label"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="form-group row">
            <label for="document" class="col-sm-2 col-form-label">Document</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" id="document">
            </div>
          </div>

          <div class="form-group row">
            <label for="Details" class="col-sm-2 col-form-label">Details</label>
            <div class="col-sm-10">
              <textarea
                class="form-control mw-350"
                id="Details"
                name="Details"
                rows="3"
                placeholder="Details"
                [(ngModel)]="preparation.details"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="form-group row my-4">
          <div class="col-sm-10 offset-sm-2">
            <button
              type="button"
              class="btn btn-outline-secondary mx-2"
              (click)="onCancel()"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
