<section class="m-5 bg-white vm-shadow-sm-grey rounded-lg vm-d-none"
  id="dealwall-add-note"
  style="display: block;" [@slideInOut]>
  <form #noteform="ngForm">
    <header class="d-flex p-5 vm-separator position-relative vm-border-bottom-for-white-panel">
      <h4 class="vm-primary-heading vm-color-teritary font-weight-bold">
        {{ title }} Notes
      </h4>
    </header>
    <div class="vm-content p-5">
      <div class="form-group row mb-4"
        [ngClass]="{
          'vm-is-invalid': txtsubject.invalid && txtsubject.touched
        }">
        <label class="col-sm-12 col-md-6 col-lg-6 labelBold"><span class="vm-star-required">Subject</span></label>
        <div class="vm-column-gutter">
          <input type="text"
            class="form-control"
            autocomplete="off"
            name="subject"
            placeholder="Subject"
            [(ngModel)]="note.Subject"
            required
            #txtsubject="ngModel"
            maxlength="50" />
          <div class="vm-validation-wrap"
            *ngIf="txtsubject.invalid && txtsubject.touched">
            <span class="vm-validation vm-top-arrow mt-2 p-2">
              Please provide the Subject.
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row mb-4"
        [ngClass]="{
          'vm-is-invalid': ddrstatus.invalid && ddrstatus.touched
        }">
        <label class="col-sm-12 col-md-6 col-lg-6 labelBold"><span class="vm-star-required">Status</span></label>
        <div class="vm-column-gutter">
          <select name="status"
            class="form-control"
            [(ngModel)]="note.Status"
            required
            #ddrstatus="ngModel">
            <option value="">Select</option>
            <option value="open">Open</option>
            <option value="closed">Closed</option>
          </select>
          <div class="vm-validation-wrap"
            *ngIf="ddrstatus.invalid && ddrstatus.touched">
            <span class="vm-validation vm-top-arrow mt-2 p-2">
              Please select the Status.
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row mb-4"
        [ngClass]="{
          'vm-is-invalid': ddrnotetype.invalid && ddrnotetype.touched
        }">
        <label class="col-sm-12 col-md-6 col-lg-6 labelBold"><span class="vm-star-required">Notes Type</span></label>
        <div class="vm-column-gutter">
          <select class="form-control"
            [(ngModel)]="note.NotesType"
            name="notetype"
            required
            #ddrnotetype="ngModel">
            <option value="">Select</option>
            <option *ngFor="let notetype of notetypes"
                    value="{{ notetype.value }}">
              {{ notetype.text }}
            </option>
          </select>
          <div class="vm-validation-wrap"
            *ngIf="ddrnotetype.invalid && ddrnotetype.touched">
            <span class="vm-validation vm-top-arrow mt-2 p-2">
              Please select the Notes Type.
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row mb-4"
        [ngClass]="{
           'vm-is-invalid': ddrpriority.invalid && ddrpriority.touched
           }">
        <label class="col-sm-12 col-md-6 col-lg-6 labelBold"><span class="vm-star-required">Priority</span></label>
        <div class="vm-column-gutter">
          <select class="form-control"
            [(ngModel)]="note.Priority"
            name="priority"
            required
            #ddrpriority="ngModel">
            <option value="">Select</option>
            <option value="high">High</option>
            <option value="low">Low</option>
          </select>
          <div class="vm-validation-wrap"
            *ngIf="ddrpriority.invalid && ddrpriority.touched">
            <span class="vm-validation vm-top-arrow mt-2 p-2">
              Please select the Priority.
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row mb-4"
        [ngClass]="{
          'vm-is-invalid': txtdescription.invalid && txtdescription.touched
        }">
        <label class="col-sm-12 col-md-6 col-lg-6 labelBold"><span class="vm-star-required">Description</span></label>
        <div class="vm-column-gutter">
          <textarea class="form-control"
            placeholder="note description"
            [(ngModel)]="note.Description"
            name="description"
            #txtdescription="ngModel"
            maxlength="250"
            required></textarea>
          <div class="vm-validation-wrap"
            *ngIf="txtdescription.invalid && txtdescription.touched">
            <span class="vm-validation vm-top-arrow mt-2 p-2">
              Please provide the Description.
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row mb-4">
        <!-- Button -->
        <a class="vam-MT5" (click)="addnoteattachment()">Add Attachment</a>
      </div>
      <ng-container *ngIf="addattachment && !enable">
        <div class="form-group row mb-4"
          [ngClass]="{
            'vm-is-invalid': uploadfile1.invalid && uploadfile1.touched
          }">
          <label for="exampleInputFile"
            class="col-sm-12 col-md-6 col-lg-6 labelBold"><span class="vm-star-required">File Name</span></label>
          <div class="vm-column-gutter">
            <div class="input-group vm-column-no-gutter vm-addon"
              data-original-title=""
              title="">
              <input class="form-control"
                type="text"
                name="form-control"
                [(ngModel)]="note.FileName"
                required
                #uploadfile1="ngModel" />
              <div class="input-group-append">
                <label class="input-group-text text-white table-head-bg-color"
                  for="noteattachmentfile">Browse</label>
                <input [accept]="allowfiletypes"
                  type="file"
                  name="inputfilepreview"
                  id="noteattachmentfile"
                  (change)="uploadfile($event.target.files)" />
              </div>
            </div>
            <div class="vm-validation-wrap"
              *ngIf="uploadfile1.invalid && uploadfile1.touched">
              <span class="vm-validation vm-top-arrow mt-2 p-2">
                Please provide the Document Type.
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row mb-4"
          [ngClass]="{
            'vm-is-invalid': ddrdocumenttype.invalid && ddrdocumenttype.touched
          }">
          <label for="noteattachmentdoctype"
            class="col-sm-12 col-md-6 col-lg-6 labelBold"><span class="vm-star-required">Document Type</span></label>
          <div class="vm-column-gutter">
            <select class="form-control"
              required
              name="documenttype_1"
              [(ngModel)]="note.documenttype"
              #ddrdocumenttype="ngModel"
              id="noteattachmentdoctype">
              <option value="undefined">Select</option>
              <option *ngFor="let item of doctypes" value="{{ item.value }}">
                {{ item.text }}
              </option>
            </select>
            <div class="vm-validation-wrap"
              *ngIf="ddrdocumenttype.invalid && ddrdocumenttype.touched">
              <span class="vm-validation vm-top-arrow mt-2 p-2">
                Please provide the Document Type.
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row mb-4"
          [ngClass]="{
            'vm-is-invalid':
              txtattachmentdescription.invalid &&
              txtattachmentdescription.touched
          }">
          <label for="noteattachmentdescription"
            class="col-sm-12 col-md-6 col-lg-6 labelBold"><span class="vm-star-required">Description</span></label>
          <div class="vm-column-gutter">
            <textarea name="attachmentdescription"
              class="form-control"
              required
              [(ngModel)]="description"
              #txtattachmentdescription="ngModel"
              maxlength="250"
              id="noteattachmentdescription"></textarea>
            <div class="vm-validation-wrap"
              *ngIf="
                txtattachmentdescription.invalid &&
                txtattachmentdescription.touched
              ">
              <span class="vm-validation vm-top-arrow mt-2 p-2">
                Please provide the Description.
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="footer text-center vm-border-top-for-white-panel py-5 vm-checklistAction">
      <a class="mt-3 mr-3 dealwall-add-note-cancel" (click)="clearnote()">Cancel</a>
      <button type=""
        class="btn btn-primary dealwall-add-note-cancel"
        (click)="addnote()">
        Add
      </button>
    </div>
  </form>
</section>
