
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
          <h4 class="page-title"><span class="bold-text">Workflow</span><br><span class="bold-text">Audit Trails</span></h4>            <div class="back-icon">
          <a href="javascript:void(0);" onclick="history.back();">
            <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="p-4 bg-white shadow-dark rounded-2">
        <div *ngFor="let auditConfig of types; let i = index">
          <div class="card mb-3">
            <div class="card-body">
              

              <div class="row">
                <div class="col-sm-3">
                    <strong>Version {{ i + 0 }}</strong>
                </div>
            </div>
              
              <div class="row">
                  <div class="col-sm-3">
                    <strong>Workflow Name:</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ auditConfig.EntityInfo.workflowName }}
                  </div>                 
                </div>

                
                <div class="row">
                  <div class="col-sm-3">
                    <strong>Workflow Code:</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ auditConfig.EntityInfo.code }}
                  </div>
                </div>

                

                <div class="row">
                  <div class="col-sm-3">
                    <strong>Document Stage:</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ auditConfig.EntityInfo.documentstage  }}
                  </div>
                </div>

                
                <div class="row">
                  <div class="col-sm-3">
                    <strong>Document Type:</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ auditConfig.EntityInfo.documenttype }}
                  </div>
                </div>  




                <div class="row">
                  <div class="col-sm-3">
                    <strong>Department:</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ auditConfig.EntityInfo.departments }}
                  </div>
                </div>



                
                <div class="row" *ngFor="let reviewer of auditConfig.EntityInfo.reviewers">
                  <div class="col-sm-3">
                      <strong>Reviewer Name:</strong>
                  </div>
                  <div class="col-sm-9">
                      {{ reviewer.UserID }}
                  </div>
              </div>

                <div class="row">
                  <div class="col-sm-3">
                    <strong>No.of Reviews:</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ auditConfig.EntityInfo.reviewsCount }}
                  </div>
                </div>  

                  
                <div class="row" *ngFor="let approver of auditConfig.EntityInfo.approvals">
                  <div class="col-sm-3">
                      <strong>Approver Name:</strong>
                  </div>
                  <div class="col-sm-9">
                      {{ approver.UserID }}
                  </div>
              </div>

                <div class="row">
                  <div class="col-sm-3">
                    <strong>No.of Approvals:</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ auditConfig.EntityInfo.approvalsCount }}
                  </div>
                </div>

                
                <div class="row">
                  <div class="col-sm-3">
                    <strong>Initiated By:</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ auditConfig.EntityInfo.CreatedBy }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <strong>Initiated On:</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ auditConfig.EntityInfo.CreatedDate  | date:'dd/MM/yyyy HH:mm'  }}
                  </div>
                </div>

               

               
                 
              <!-- Add more rows for other properties if needed -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
