<div class="alert alert-warning" role="alert">
  Tiles component is not supported in Flux layout
</div>
<!-- <section *ngFor="let item of data" class="vm-grid vm-shadow-lg-blue rounded-lg bg-white mb-5 vm-small-tile-wrapper">
  <header class="d-flex p-5 vm-separator position-relative vm-border-bottom-for-white-panel justify-content-between" *ngIf="item.DisplayName">
    <h4 class="vm-primary-heading vm-color-teritary font-weight-bold">{{item.DisplayName}}</h4>
  </header>
  <div class="vm-content p-5">
    <div class="vm-small-tile">
      <ng-container *ngIf="item.LogoUrl then logo; else binarydata"></ng-container>
      <ng-template #binarydata>
        <div class="vm-tile-child" [style.background-image]="getimg(item)">
          <a href="{{item.Url}}">
            <span class="vm-rounded-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 14 11" fill="#fff" class="ml-1">

                <path id="arrow" d="M1006,832.857h7.41V836l6.59-5.5-6.59-5.5v3.143H1006v4.714Z"
                      transform="translate(-1006 -825)">
                </path>
              </svg>
            </span>
          </a>
        </div>
      </ng-template>
      <ng-template #logo>
        <div class="vm-tile-child" [style.background-image]="'url(' + item.LogoUrl + ')'">
          <a href="{{item.Url}}">
            <span class="vm-rounded-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 14 11" fill="#fff" class="ml-1">
                <path id="arrow" d="M1006,832.857h7.41V836l6.59-5.5-6.59-5.5v3.143H1006v4.714Z"
                      transform="translate(-1006 -825)">
                </path>
              </svg>
            </span>
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</section> -->
