<div class="alert alert-warning" role="alert">
  PlanOptions component is not supported in Flux layout
</div>
<!--<div class="vm-pricing" *ngIf="planoptions.length > 0">
  {{loadScript()}}
  <div class="owl-carousel owl-theme justify-content-center">
    <ng-container *ngFor="let planoption of planoptions;let i =index">
      <div [attr.data-dot]="getname(planoption.displayname)"
           class="item card vm-coverage-card rounded-lg mb-5 mb-lg-0 col-12 col-sm-6 col-lg-4 px-0 mr-4 ml-lg-4">
        <div class="vm-coverage-card-header">
          <h3 class="vm-font-size-22">{{planoption.displayname}}</h3>
          <div class="vm-heading-separator my-4"></div>
        </div>
        <div class="vm-coverage-card-body pt-0">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <label class="vm-amount-status">Due Today</label>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="vm-amount-main">
                    <span>$</span>{{planoption.fullamount}}
                    <i>*</i>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="">Due today includes premium, plus fees.</p>
                </div>
              </div>
              <div class="vm-heading-separator my-5"></div>
              <div class="row">
                <div class="col-12 px-5 px-lg-0">
                  <p class="text-center">
                    {{planoption.description}}
                    <label *ngIf="planoption.basicamount > 0" class="vm-font-secondary-bold d-block mt-2"><span>$</span>{{planoption.basicamount}}</label>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vm-coverage-card-footer py-5">
          <button type="button" class="btn btn-primary" (click)="makepayment(i,planoption)">
            Make
            Payment
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>-->
