.vm-table-t-td-p {

  & td {
    padding: 1rem !important;
  }
}

.status {
  border-radius: 50%;
  width: .8rem;
  height: .8rem;
  display: inline-block;
  margin-top: .1rem;

  &.active {
    background-color: $color-teritary;
    box-shadow: 0px 4px 2px 0px rgba(71, 209, 133, 0.3);
  }

  &.inactive {
    background-color: $color-2;
    box-shadow: 0px 4px 2px 0px rgb(150 150 152 / 30%);
  }

  &.failure {
    background-color: $color-danger;
    box-shadow: 0px 4px 2px 0px rgba(228, 100, 106, 0.3);
  }

  &.wip {
    background-color: $color-warning;
    box-shadow: 0px 4px 2px 0px rgba(255, 180, 59, 0.3);
  }
}


.vm-inner-table {
  &.table-responsive {
    box-shadow: none;
    border: .1rem solid $border-color;
    border-radius: 0rem;
  }

  & .table {
    border-collapse: collapse;


    & tr {
      box-shadow: none;

      &:last-child {
        border-bottom: none !important;
      }

      & th {
        background: $color-1 !important;
        border-top: none;
        border-bottom: .1rem solid $border-color;
        border-right: 0.1rem dashed $border-color;

        & .vm-checkbox input {
          background: transparent;
        }
      }

      & td {
        background: $color-1 !important;
        border-bottom: .1rem solid $border-color;

        & .vm-checkbox input {
          background: transparent;
        }
      }
    }
  }
}

.table {
  & tr {

    & td {
      &.collapsed {
        &:before {
          // border-left: 0.6rem solid #090909 !important;
          // border-top: 0.6rem solid transparent !important;
          // border-bottom: 0.6rem solid transparent !important;
          // top: 0.4rem !important;
          content: "";
          content: "";
          width: 0;
          height: 0;
          border-left: .6rem solid transparent;
          border-right: .6rem solid transparent;
          border-top: .6rem solid $color-primary;
          position: absolute;
          top: .7rem;
          //margin-top: .5rem;
          //left: -2rem;
          color: #999;
          transition: all 0.3s ease;
          cursor: not-allowed;
          //opacity: 0.4;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          border-radius: 4px;
        }
      }

      &.accordion-toggle {
        position: relative;
        //font-weight: 600;
        cursor: pointer;

        &:before {
          content: "";
          width: 0;
          height: 0;
          border-left: 0.6rem solid transparent;
          border-right: 0.6rem solid transparent;
          border-top: 0.6rem solid $color-primary;
          border-radius: 0.2rem;
          position: relative;
          margin-right: 0.4rem;
          float: left;
          top: .7rem;
          // opacity: 0.4;
        }
      }
    }
  }
}

.vm-table-child tr:last-child td {
  border-bottom: none !important;
}

.vm-tr-accordian {
  box-shadow: 0px 2px 0px 0px rgba(58, 74, 158, 0.1);
}

.vm-tr-accordian.lastChild {
  box-shadow: none !important;
}

.vm-table-parent, .vm-table-child {
  table-layout: fixed;

  & .show {
    margin-top: -.4rem;
    overflow-x: hidden;
    margin-left: -3px;
    // margin-right: -12px;
  }
}

.vm-table-child {
  .vm-multi-select-dropdown {
    width: 80% !important;

    @include vm-breakpoint(md-992-1024) {
      width: 75% !important;
    }
  }
}


.vm-table-child td:first-child, .vm-table-child th:first-child {
  padding-left: 48px !important;
}

.vm-table-child td:first-child::after, .vm-table-child td:last-child::after {
  content: "";
  width: 48px;
  top: -1px;
  bottom: 0px;
  left: 0;
  position: absolute;
  background-color: #fff;
  border-right: 1px solid #e2ebfb;
}

.vm-table-child td:last-child::after {
  left: inherit;
  right: 0;
  border-right: none;
  border-left: 1px solid #e2ebfb;
}



// double table header
.vm-double-thead {
  position: relative;

  & .thead-dark:first-child {




    &::before {
      content: '';
      position: absolute;
      border-bottom: 1px solid lighten($color-4,10%);
      width: 100%;
      top: 5.7rem;
      background: $color-4;
      height: 2rem;
    }

    & th:first-child {
      border-radius: 0.5rem 0 0 0rem;
    }

    & th:last-child {
      border-radius: 0 0.5rem 0rem 0;
    }
  }

  & .thead-dark:nth-child(2n) {

    &::before {
      content: '';
      position: absolute;
    }

    & th:first-child {
      border-radius: 0rem 0 0 0.5rem;
    }

    & th:last-child {
      border-radius: 0 0rem 0.5rem 0;
    }
  }
}
