.vm-font-size {
  &-12 {
    font-size: $font-size-base - .2;
  }

  &-14 {
    font-size: $font-size-base;
  }

  &-18 {
    font-size: 1.8rem;
  }

  &-22 {
    font-size: 2.2rem;
  }

  &-24 {
    font-size: 2.4rem;
  }

  &-32 {
    font-size: 3.2rem !important;
  }

  &-36 {
    font-size: 3.6rem !important;
  }
}

.vm-font {
  &-primary {
    font-family: $font-primary;

    &-bold {
      font-family: $font-primary-bold;
    }

    &-semibold {
      font-family: $font-primary-semibold;
    }
  }

  &-secondary {
    font-family: $font-secondary;

    &-bold {
      font-family: $font-primary-bold;
      font-weight: normal !important;
    }

    &-black {
      font-family: $font-secondary-semibold;
    }
  }
}

h1,
.h1 {
  font-family: $font-secondary-semibold;
  font-size: 1.8rem;
  color: $color-primary;
}

h2,
.h2 {
  font-family: $font-secondary-semibold;
  font-size: 1.8rem;
  color: $color-secondary;
}

h3,
.h3 {
  font-family: $font-primary-bold;
  font-size: 3.2rem;
  color: $color-primary;
}

h4,
.h4 {
  font-family: $font-secondary;
  font-size: 4.2rem;
  color: $color-secondary;
}

.vm-heading-style {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    background: $color-teritary;
    box-shadow: 0px 3px 3px 0px rgba(57, 158, 102, 0.25);
    border-radius: 2rem;
    height: .4rem;
    width: 3rem;
    bottom: -.5rem;
    left: 0;
  }
}

.state1 .vm-heading-style:before {
  transform: translateY(0);
}

.state2 .vm-heading-style:before {
  content: '';
  position: absolute;
  background: $color-teritary;
  box-shadow: 0px 3px 3px 0px rgba(57, 158, 102, 0.25);
  border-radius: 2rem;
  height: .4rem;
  width: 0rem;
  bottom: -.5rem;
  left: 0;
}



h4.color-primary {
  color: $color-primary;
}
