
<div class="container-fluid">
    <div class="row p-2">
      <div class="col">
  
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="page-title flex-grow-1">Audit Configuration</h4>
          <div class="d-flex page-title-actions">
            <input type="text" class="form-control" (input)="templatesTable.filterGlobal($any($event.target)?.value, 'contains')" placeholder="Search">
            <!--<button class="btn btn-primary" type="button" [routerLink]="['/mainpage/hierarchy/adddept']">
              Add
            </button>-->
            
          </div>
        </div>
      </div>
    </div>
    <div class="row p-2">
      <div class="col">
        <div class="p-4 bg-white shadow-dark rounded-2">
          <p-table #templatesTable [value]="types" 
          [globalFilterFields]="['DepartmentName', 'DepartmentCode', 'Description','RegisteredBy']"
          tableStyleClass="table table-striped" [rows]="itemsPerPage"
              [paginator]="true" 
              [rowsPerPageOptions]="rowsPerPageOptions" [(first)]="currentPage">
            <ng-template pTemplate="header">
              <tr>
                <th>#</th>
                <th pSortableColumn="EntityName" style="width:20%">Entity Name<p-sortIcon field="Entity Name"></p-sortIcon></th>
                <th pSortableColumn="Message" style="width:10%">Message<p-sortIcon field="Message"></p-sortIcon> </th>
                <th pSortableColumn="Type" style="width:15%">Type<p-sortIcon field="Type"></p-sortIcon></th>
                <th pSortableColumn="UserName" style="width:20%">UserName<p-sortIcon field="User Name"></p-sortIcon></th>
                <th pSortableColumn="ModifiedDate" style="width:1n00px">Modified Date<p-sortIcon field="ModifiedDate"></p-sortIcon></th>
                <th pSortableColumn="Status" style="width:100px">Status <p-sortIcon field="Status"></p-sortIcon></th>
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-doc let-i="rowIndex">
              <tr>
                <td>{{ i + 1 }}</td> 
                <td>{{doc?.EntityName}}</td>
                <td>{{doc?.Message }}</td>
                <td>{{doc?.Type}}</td>
                <td>{{doc?.UserName}}</td>
                <td>{{doc?.CreatedDate | date }}</td>
                <td><span class="status" [ngClass]="{'status-completed':true}">Active</span></td>
                <td class="text-right" (click)="editBrand(doc)" *ngIf="access"><i class="bi bi-pencil"></i></td>
                <td class="text-center" *ngIf="!access">
                  <i class="bi bi-lock bi-lg" 
                  [ngClass]="{'text-primary':true}"
                  title="No Permissions">
              </i>
          </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  