.mw-350 {
  max-width: 350px;
}



.template-block {
  .template-grid {
    padding: 15px;
    border: 1px solid #b3d5f1;
    border-radius: 4px;
    box-shadow: inset 0px 0 5px 0px #dfdfdf;
    table {
      tr {
        td {
          .template-cell {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;

            .form-select {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              background-color: #dee2e6;
              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
            .form-control {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }

  .template-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #cfeaff;
    width: 300px;
    margin: 0 auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    .input-group {
      flex-wrap: nowrap;
      font-size: 12px;

      input {
        width: 60px;
        max-width: 60px;
        font-size: 12px;
      }
    }

    .btn {
      color: #fff;
      background: #2196f3;
      font-size: 12px;
    }
  }
}


.delete-button {
  vertical-align: middle;
}





// .page-textarea {
//   width: 33cm; /* A4 width */
//   height: 200px; /* A4 height */
//   resize: none; /* Prevent resizing */
// }

.e-code-mirror::before {
  content: '\e345';
}

.CodeMirror-linenumber,
.CodeMirror-gutters {
  display: none;
}

.fabric-dark .cm-s-default .cm-tag,
.bootstrap5-dark .cm-s-default .cm-tag,
.material-dark .cm-s-default .cm-tag,
.tailwind-dark .cm-s-default .cm-tag,
.highcontrast .cm-s-default .cm-tag {
  color: #00ff00;
}

.fabric-dark .cm-s-default .cm-string,
.bootstrap5-dark .cm-s-default .cm-string,
.material-dark .cm-s-default .cm-string,
.tailwind-dark .cm-s-default .cm-string {
  color: blue;
}

.highcontrast .cm-s-default .cm-string {
  color: #ffd939;
}

.fabric-dark .cm-s-default .cm-attribute,
.bootstrap5-dark .cm-s-default .cm-attribute,
.material-dark .cm-s-default .cm-attribute,
.tailwind-dark .cm-s-default .cm-attribute,
.highcontrast .cm-s-default .cm-attribute {
  color: #f00;
}

.fabric-dark .CodeMirror,
.bootstrap5-dark .CodeMirror,
.material-dark .CodeMirror,
.tailwind-dark .CodeMirror {
  background: #303030;
}

.highcontrast .CodeMirror {
  background: black;
}

.sb-content.e-view.hide-header {
  top: 0 !important;
}

.sb-header.e-view.hide-header {
  display: none;
}

.e-richtexteditor .e-rte-content .e-content[contenteditable="true"] pre {
  padding: 15px;
  background: #F4F5F7;
}

.fabric-dark .e-richtexteditor .e-rte-content .e-content pre,
.bootstrap5-dark .e-richtexteditor .e-rte-content .e-content pre,
.material-dark .e-richtexteditor .e-rte-content .e-content pre,
.tailwind-dark .e-richtexteditor .e-rte-content .e-content pre,
.highcontrast .e-richtexteditor .e-rte-content .e-content pre {
  padding: 10px;
  background: #303030;
}

.e-richtexteditor .e-rte-content .e-content .CodeMirror-line {
  background: transparent;
}

#alltoolRTEmirror-view {
  padding: 0px;
}
.e-richtexteditor .e-rte-content .e-content *, .e-richtexteditor .e-source-content .e-content * {
/*   padding-left: 2rem !important;
*/  color: #303030 !important;
/*  padding-right: 2rem !important;
*/ 
}
.e-richtexteditor .e-rte-content .e-content p, .e-richtexteditor .e-source-content .e-content p {
  color: #303030 !important;
}

.e-richtexteditor .e-rte-content .e-content p, .e-richtexteditor .e-source-content .e-content p {
  margin: 0 0 10px;
  margin-bottom: 10px;
  color: #343a40 !important;
}
.e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
  padding: 15px 100px 15px 100px !important;
}
.e-richtexteditor .e-rte-content .e-content p {
  color: #343a40 !important;
}
