<div class="container-fluid">
  <div class="row p-2">
    <div class="col">

      <div class="d-flex justify-content-between align-items-center">
        <h4 class="page-title flex-grow-1">Document Types</h4>
        <div class="d-flex page-title-actions">
          <input type="text" class="form-control" placeholder="Search">
          <button class="btn btn-primary mx-2" type="button" (click)="navigateToAddUser()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <div class="p-4 bg-white shadow-dark rounded-2">
        <p-table [value]="types" tableStyleClass="table table-striped">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="S.no" style="width:20%">S.no<p-sortIcon field="S.no"></p-sortIcon></th>
              <th pSortableColumn="FirstName" style="width:10%">First Name <p-sortIcon field="FirstName"></p-sortIcon></th>
              <th pSortableColumn="LastName" style="width:15%">Last Name<p-sortIcon field="LastName"></p-sortIcon></th>
              <th pSortableColumn="UserId" style="width:20%">UserId<p-sortIcon field="UserId"></p-sortIcon></th>
              <th pSortableColumn="Department" style="width:200px">Department<p-sortIcon field="Department"></p-sortIcon></th>
              <th pSortableColumn="EmployeeId" style="width:200px">Employee Id<p-sortIcon field="EmployeeId"></p-sortIcon></th>
              <th pSortableColumn="E-mail-Id" style="width:200px">E-mail Id<p-sortIcon field="E-mail-Id"></p-sortIcon></th>
              <th pSortableColumn="Modify" style="width:200px">Modify <p-sortIcon field="Modify"></p-sortIcon></th>
              

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-doc let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{doc?.s.no}}</td>
              <td>{{doc?.firstname}}</td>
              <td>{{doc?.lastname}}</td>
              <td>{{doc?.userid}}</td>
              <td>{{doc?.department}}</td>
              <td>{{doc?.employeeid}}</td>
              <td>{{doc?.emailid}}</td>
              <td>{{doc?.Modify}}</td>
           
            
              <td><span class="status" [ngClass]="getStatusClass(doc['Status'])">{{doc.Status}} </span></td>
              <td class="text-center" (click)="editdoc(doc)"><i class="bi bi-pencil"></i></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>  
