<div class="vm-dropdown vm-multi-select-dropdown" [ngClass]="{show: ispopupopen}"
     (clickOutside)="closedropdownlist($event)">
  <button #getResolution (focus)="onTouched()" class="dropdown-toggle" (click)="toggleDropdown($event)" [title]="selecteditems"
          [disabled]="disabled" #dropdown>
    <span *ngIf="checkedItems?.length == 0">{{placeholder}}</span>
    <span *ngIf="checkedItems?.length > 0">{{ selecteditems }}</span>
  </button>
  <kendo-popup [anchor]="dropdown" (anchorViewportLeave)="ispopupopen = false" *ngIf="ispopupopen">
    <div class="dropdown-popup" [ngStyle]="{'width.px': getResolution.offsetWidth}" [ngClass]="{'show' : ispopupopen}" style="background-color: white;">
      <ul>
        <li>
          <div class="form-check vm-checkbox path" style="padding-top: 10px; position: relative;">
            <input class="form-check-input" type="checkbox" name="{{ name }}" id="chk_{{ name }}"
                   (click)="selectall()" [(ngModel)]="isselectall" />
            <svg viewBox="0 0 21 21">
              <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
              </path>
            </svg>
            <label for="chk_{{ name }}">
              <span class="vm-segoui-bold">Select All</span>
            </label>
          </div>
        </li>
        <ng-container *ngIf="iscomplex; then complex_data; else non_complex_data">
        </ng-container>
        <ng-template #non_complex_data>
          <li *ngFor="let item of primitiveData; let i = index" #filteredContents>
            <div class="form-check vm-checkbox path" style="padding-top: 10px; position: relative;">
              <input class="form-check-input" type="checkbox" name="{{ name }}" value="{{ item.value }}"
                     id="chk_{{ name }}_{{ i }}" [checked]="itemChecked(item.value)" (click)="onItemClick(item)"
                     [(ngModel)]="item.checked" (change)="checked($event)" (focus)="onTouched()" />
              <svg viewBox="0 0 21 21">
                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                </path>
              </svg>
              <label for="chk_{{ name }}_{{ i }}">
                <span>{{ item.value }}</span>
              </label>
            </div>
          </li>
        </ng-template>
        <ng-template #complex_data>
          <li *ngFor="let item of complexData; let i = index" #filteredContents>
            <div class="form-check vm-checkbox path" style="padding-top: 10px; position: relative;">
              <input class="form-check-input" type="checkbox" name="{{ name }}" value="{{ item[valuefield] }}"
                     id="chk_{{ name }}_{{ i }}" [checked]="itemChecked(item)" (click)="onItemClick(item)"
                     [(ngModel)]="item.checked" (focus)="onTouched()" (change)="checked($event)" />
              <svg viewBox="0 0 21 21">
                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                </path>
              </svg>
              <label for="chk_{{ name }}_{{ i }}">
                <span>{{ item[textfield] }}</span>
              </label>
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </kendo-popup>
</div>
