.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.toggleButton {
  width: 11rem !important;
  max-width: 90% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.vm-dropdown.vm-multi-select-dropdown > .dropdown-toggle {
  padding: 1rem !important;
  border: 1px solid #e0e3eb !important;
  position: relative !important;
  padding-right: 2rem !important;
  width: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  color: #827b7b !important;
}

.vm-custom-dropdown {
  & button {
    border: 1px solid #cabdbd;
    border-right: 0;
    background: transparent;
    border-radius: 0;
    text-align: left;
    padding-left: 0.7rem;

    & + span {
      border-left: 0;
      border-right: 1px solid #cabdbd;
      padding: 0;

      & span {
        left: 4px;
        position: relative;
      }

      &:after {
        border-top: 0px solid transparent !important;
      }
    }
  }
}

.vm-dropdown.vm-multi-select-dropdown {
  min-width: 174px;
  max-width: 174px;
}

.dropdown-popup {
  min-height: 0px;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 10px;
}
