<!--<div class="media dealwall-card bg-white p-5 mb-5 position-relative vm-shadow-sm-grey rounded-lg">
  <div class="status">
    <svg xmlns="http://www.w3.org/2000/svg" width="20.59" height="23">
      <path
        d="M14 9l-6 6 3 3 6-6zm-7 7l-1 3c-.28.84.23 1.21 1 1l3-1zM20 6a2.195 2.195 0 00-3 0l-2 2 3 3 2-2a2.195 2.195 0 000-3zM3 6h13l1-1V3a1.956 1.956 0 00-2-2h-1V0h-2v1h-1V0H9v1H8V0H6v1H5V0H3v1H2a1.956 1.956 0 00-2 2v18a1.956 1.956 0 002 2h14a1.956 1.956 0 002-2v-9l-7 7a8.585 8.585 0 01-1 1l-2 1c-.96.31-2.56.61-3 0-.69-1.14 1-5 1-5H3v-1h4l2-2H3v-1h7l2-2H3V9h10l2-2H3V6z"
        fill="#fff" fill-rule="evenodd"></path>
    </svg>
  </div>
  <img src="assets/img/avtar.jpg" class="p-2 mr-4 bg-white rounded-circle vm-shadow-lg-grey"
    style="width:80px;" />
  <div class="media-body">
    <p class="mb-1 vm-timeline-color pt-2">
      {{ note.CreatedDate | dealwalldatepipe }}
    </p>
    <p class="vm-primary-heading mb-0">
      <span class="font-weight-bold vm-color-black">{{ note._context.UserName }}</span> has added a new
      <span class="font-weight-bold vm-color-black">Note</span>
    </p>
    <p class="vm-color-black" [innerHTML]="note.Description"></p>
    <ng-container *ngFor="let file of note.Attachments">
      <p class="vm-color-primary">
        <a (click)="downloadnote(file)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17">
            <path
              d="M4.436 16.999A4.355 4.355 0 010 12.73a4.183 4.183 0 011.3-3.006L10.545.852a3.328 3.328 0 014.568.113 3.01 3.01 0 010 4.271l-8.958 8.6a2.081 2.081 0 01-2.856 0 1.884 1.884 0 010-2.744l8.313-7.98a.832.832 0 011.139-.085.754.754 0 01.088 1.093.784.784 0 01-.088.085l-8.313 7.98a.388.388 0 00-.117.276.4.4 0 00.4.389.41.41 0 00.289-.114l8.962-8.6a1.506 1.506 0 000-2.194 1.666 1.666 0 00-2.286 0l-9.249 8.876a2.637 2.637 0 000 3.837 2.912 2.912 0 004 0l7.876-7.558a.834.834 0 011.143 0 .755.755 0 010 1.1L7.58 15.755a4.539 4.539 0 01-3.143 1.244z"
              fill="#00a1c8" fill-rule="evenodd"></path>
          </svg>
          {{ file.FileName }}.{{file.FileType}}
        </a>
      </p>
      <p class="v-text-secondary-pastel">{{ file.Description }}</p>
    </ng-container>
    <section>
      <div class="vm-content">
        <div class="footer mt-5">
          <ul class="p-0">
            <li>
              <a [ngClass]="{'isDisabled':!enable}" (click)="deletenotes()">Delete</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>-->
