<div class="container-fluid">
  <div class="row p-2">
      <div class="col">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="page-title flex-grow-1">Plant Management</h4>

              <div class="back-icon" style="margin-right: 10px;">
                  <a href="javascript:void(0);" onclick="history.back();">
                      <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px;"></i>
                  </a>
              </div>
              
              <div class="d-flex page-title-actions">
                  <div class="input-group custom-input-group">
                      <!-- Magnifying glass icon -->
                      <span class="input-group-text custom-input-group-text">
                          <i class="fas fa-search custom-search-icon"></i>
                      </span>
                      <input type="text" class="form-control custom-input" pInputText type="text" (input)="templatesTable.filterGlobal($any($event.target)?.value, 'contains')"  placeholder="Search" maxlength="49">
                  </div>
                    
                  <button class="btn btn-primary mx-2" type="button" (click)="navigateToAddPlant()" >New</button>
              </div>
          </div>
      </div>
  </div>
  <div class="row p-2">
      <div class="col">
          <div class="p-4 bg-white shadow-dark rounded-2">
            <p-table #templatesTable
            [value]="types"
             tableStyleClass="table table-striped" 
             [globalFilterFields]="['PlantName', 'PlantCode', 'PlantAddress','ModifiedBy','ModifiedDate']"
            [rows]="itemsPerPage"
            [paginator]="true" [totalRecords]="types.length"
            [rowsPerPageOptions]="rowsPerPageOptions" [(first)]="currentPage">
         
          <ng-template pTemplate="header">
            <tr>
              <th>S.No</th>
              <!--<th pSortableColumn="S.No" style="width:20%">S.No</th>-->
              <th pSortableColumn="PlantName" style="width:10%">Plant Name<p-sortIcon field="PlantName"></p-sortIcon> </th>
              <th pSortableColumn="PlantCode" style="width:15%">Plant Code<p-sortIcon field="PlantCode"></p-sortIcon></th>
              <th pSortableColumn="PlantAddress" style="width:20%">Address<p-sortIcon field="PlantAddress"></p-sortIcon></th>
            
              <th pSortableColumn="ModifiedBy" style="width:200px">Registered By<p-sortIcon field="ModifiedBy"></p-sortIcon></th>
              <th pSortableColumn="ModifiedDate" style="width:200px">Registered On<p-sortIcon field="ModifiedDate"></p-sortIcon></th>
              <th style="width:80px">Status</th>
              <th style="width:80px">Modify</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-doc let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{doc?.PlantName}}</td>

              <td>{{doc?.PlantCode}}</td>
              <td>{{doc?.PlantAddress}}</td>
              <!-- <td>{{doc?.Comments}}</td> -->
              <td>{{doc?.ModifiedBy}}</td>
              <td>{{doc?.ModifiedDate}}</td>             
              <td><span class="status" [ngClass]="{'status-completed':true}">Active</span></td>
              <td class="text-center" *ngIf="access"><i class="bi bi-pencil" (click)="editdoc(doc)"></i></td>
              <td class="text-center" *ngIf="!access">
                <i class="bi bi-lock bi-lg" 
                [ngClass]="{'text-primary':true}"
                title="No Permissions">
            </i>
        </td>
              <!--(click)="editdoc(doc)"-->
            </tr>
          </ng-template>
        </p-table>
          </div>
      </div>
  </div>
</div>

<style>

  /* Styles for .custom-input-group */

  .custom-input-group {

      background-color: white;

      display: flex;

      align-items: center;

      border: 1px solid #ccc;

      border-radius: 5px;

  }

  .custom-input-group-text {

          background: white;

          border: none;

          padding: 0;

          vertical-align: middle;

      }



      .custom-search-icon {

          font-size: 14px;

          margin-right: 5px;

          margin-left: 9px;

          color: #555;

      }



      .custom-input {

          border: none;

          padding: 5px;

          vertical-align: middle;

          background-color: white;

          box-shadow: none;

      }


      .p-paginator .p-dropdown {    
      height: unset;
    }

    :host ::ng-deep .p-paginator .p-dropdown {    
      height: unset;
      min-width: unset;
    }
  </style>

