<form>
  <div
    ngModelGroup="refReason"
    #refReason="ngModelGroup"
    class="section dealwall-card checklist-box bg-white mb-5 vm-shadow-sm-grey rounded-lg position-relative"
    [ngClass]="{
      'checklist-reject': reason.Status == 'Reject',
      'checklist-accept': reason.Status == 'Accept'
    }"
  >
    <div class="activediv accept-arrow"></div>
    <div class="activediv reject-arrow"></div>
    <div class="status text-white">{{ reason.ProductName }}</div>
    <div class="vm-content p-5">
      <p class="pt-5">{{ reason.Reason }}</p>
      <div
        class="referral-textarea"
        [ngClass]="{ 'vm-is-invalid': remarks.invalid && remarks.touched }">
        <textarea
          type="text"
          required
          maxlength="256"
          rows="5"
          class="form-control w-100 comment-bg border-left-0 border-right-0 vm-border-bottom-for-white-panel vm-border-top-for-white-panel"
          name="remarks"
          [disabled]="!enable"
          #remarks="ngModel"
          placeholder="Enter remarks here..."
          [(ngModel)]="reason.Remarks"
        ></textarea>
      </div>
      <div class="vm-validation-wrap">
        <div
          class="vm-validation-wrap"
          *ngIf="remarks.invalid && remarks.touched">
          <span class="vm-validation vm-top-arrow mt-2 p-2">
            Remarks is required.
          </span>
        </div>
      </div>
    </div>
    <div
      class="footer text-center vm-border-top-for-white-panel py-5 vm-checklistAction"
      *ngIf="enable">
      <button
        class="btn mr-3 reject-btn"
        [disabled]="reason.Status == 'Reject'"
        (click)="save('Reject')">
        Reject
      </button>
      <button
        class="btn btn-primary accept-btn"
        [disabled]="reason.Status == 'Accept'"
        (click)="save('Accept')">
        Accept
      </button>
    </div>

    <div
      class="footer text-center vm-border-top-for-white-panel py-5 vm-checklistAction"
      *ngIf="!enable">
      <button class="btn mr-3 reject-btn" [disabled]="true">
        Reject
      </button>
      <button class="btn btn-primary accept-btn" [disabled]="true">
        Accept
      </button>
    </div>
  </div>
</form>
