<div class="alert alert-warning" role="alert">
  ReferralReasons component is not supported in Flux layout
</div>
<!-- <section>
  <header class="border-bottom w-100 deal-wall-header">
    <div class="row">
      <div class="col-md-12 col-12">
    <h1
      class="p-4 font-weight-bold mr-2 h2 vm-color-teritary vm-primary-heading mb-1">
      Referral Reasons
    </h1>
    <ul class="mb-0 header-right-list">
      <li>
        <exp-filtermenu
          [source]="products"
          (itemClick)="filterItems($event)"
        ></exp-filtermenu>
      </li>
    </ul>
    </div>
    </div>
  </header>
  <div class="vm-content p-5">
    <ng-container *ngIf="data">
      <ng-container *ngFor="let reason of data">
        <exp-referralreason
          [reason]="reason"
          (refreasonupdate)="updateRefReason($event)"
          [enable]="enable"></exp-referralreason>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="data.length == 0">
      <div class="alert alert-info alert-dismissible fade show">
        No referral reasons to display.
      </div>
    </ng-container>
  </div>
</section> -->
