<div class="container-fluid">
  <div class="row p-2">
    <div class="col d-flex justify-content-between align-items-center">
      <h4 class="page-title">New Print Request</h4>
      <div class="back-icon" style="margin-right: 10px;">
        <a href="javascript:void(0);" onclick="history.back();">
          <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px;"></i>
        </a>
      </div>
    </div>

   
  </div>
  <div class="row p-2">
    <div class="col">
      <form (ngSubmit)="savePrintRequest()" #fm="ngForm">
        <div class="p-4 bg-white shadow-dark rounded-2">



          <div *ngIf="!editMode"  class="form-group row">
            <label for="reviewsType" class="col-sm-2 col-form-label">Print</label>
            <div class="col-sm-10">
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="reviewsType1" type="radio" id="reviewsType2" value="single"
                  [(ngModel)]="printType" />
                <label class="form-check-label" for="reviewsType2">New Print</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="reviewsType1" type="radio" id="reviewsType1" value="bulk"
                  [(ngModel)]="printType" />
                <label class="form-check-label" for="reviewsType1">Existing Print</label>
              </div>
            </div>
          </div>


           <!-- Single option controls start here -->
           <fieldset *ngIf="printType != 'bulk'" [disabled]="printType == 'bulk'">

          

          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">
              Document No<span style="color: red; font-weight: bolder;">*</span>
            </label>
            <div class="col-sm-10">
              <p-dropdown name="docType" [options]="preparations" [(ngModel)]="print.documentNumber"
                          optionLabel="documentno" optionValue="documentno" (onChange)="documentNumberChange($event)"
                          [autoDisplayFirst]="false" [required]="true" placeholder="Select Document No"
                          #documentnoInput="ngModel" [disabled]="viewMode">
              </p-dropdown>
              <div *ngIf="documentnoInput.invalid && (documentnoInput.dirty || documentnoInput.touched)" class="text-danger">
                Document Number is required.
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="documentTitle" class="col-sm-2 col-form-label">Document Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="documentTitle" name="documentTitle"
                     placeholder="Document Title" [(ngModel)]="print.documenttitle" [disabled]="'true'" />
            </div>
          </div>


          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">Document Type</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="print" name="printType" placeholder="Document Type"
                     [(ngModel)]="print.printtype" [disabled]="'true'" />
            </div>
          </div>

          <div class="form-group row">
            <label for="noofcopies" class="col-sm-2 col-form-label">
              No Of Copies requested<span style="color: red; font-weight: bolder;">*</span>
            </label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="noofcopies" name="noofcopies" placeholder=""
                     [(ngModel)]="print.noofcopies" [disabled]="viewMode" #noofcopiesInput="ngModel" required placeholder="Choose No Of Copies" min="1" max="9" />
               <div *ngIf="noofcopiesInput.invalid && (noofcopiesInput.dirty || noofcopiesInput.touched)" class="text-danger">
                No Of Copies is required.
              </div>
            </div>
          </div>
         


          <div class="form-group row">
            <label for="workflow" class="col-sm-2 col-form-label">Print Type<span style="color: red; font-weight: bolder;">*</span></label>
            <div class="col-sm-10">
              <!-- <p-multiSelect
        [options]="stageSource"
        [(ngModel)]="selectedStage"
        placeholder="Select Print Type"
        name="workflowStage"
        optionLabel="value"
        display="chip"
        [required]="true"
        #documentstage="ngModel">
      </p-multiSelect>
      <div *ngIf="documentstage.invalid && (documentstage.dirty || documentstage.touched)" class="text-danger">
        Document Stage is required
      </div> -->
              <p-dropdown name="PrintType" [options]="stageSource" [(ngModel)]="print.printCopy"
                          optionLabel="label" optionValue="label" placeholder="Select Print Type" [autoDisplayFirst]="false" [required]="true"
                          #documentstage="ngModel" [disabled]="viewMode">
              </p-dropdown>
              <div *ngIf="documentstage.invalid && (documentstage.dirty || documentstage.touched)" class="text-danger">
                Print Type is required.
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="!editMode && !viewMode">
            <label for="prefix" class="col-sm-2 col-form-label">
              Workflow<span style="color: red; font-weight: bolder;">*</span>
            </label>
            <div class="col-sm-10">
              <div class="col-sm-10">
                <p-dropdown name="workflow" [options]="workflowsSource" [(ngModel)]="print.workflow"
                            optionLabel="workflowName" optionValue="workflowName" placeholder="Select Workflow" [autoDisplayFirst]="false" [required]="true"
                            #WorkflowInput="ngModel" [disabled]="viewMode">
                </p-dropdown>
                <div *ngIf="WorkflowInput.invalid && (WorkflowInput.dirty || WorkflowInput.touched)" class="text-danger">
                  Workflow is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="documentType" class="col-sm-2 col-form-label">
              Reason<span style="color: red; font-weight: bolder;">*</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="reason" name="Reason" placeholder="Give Reason"
                     [(ngModel)]="print.reason" [disabled]="viewMode" #reasonInput="ngModel" required maxlength="249" />
              <div *ngIf="reasonInput.invalid && (reasonInput.dirty || reasonInput.touched)" class="text-danger">
                Give Print Reason.

              </div>
            </div>
          </div>

 <!-- Batch Number -->

          <div class="form-group row">
            <label for="batchNumber" class="col-sm-2 col-form-label">
              Batch Number<span style="color: red; font-weight: bolder;">*</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="reason" name="BatchNumber" placeholder="Batch Number"
                     [(ngModel)]="print.batchNumber" [disabled]="viewMode" #reasonInput="ngModel" required maxlength="249" />
              <div *ngIf="reasonInput.invalid && (reasonInput.dirty || reasonInput.touched)" class="text-danger">
                Batch Number
              </div>
            </div>
          </div>

          <!-- Batch Size -->

          <div class="form-group row">
            <label for="batchsize" class="col-sm-2 col-form-label">
              Batch Size<span style="color: red; font-weight: bolder;">*</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="reason" name="BatchSize" placeholder="Batch Size"
                     [(ngModel)]="print.batchSize" [disabled]="viewMode" #reasonInput="ngModel" required maxlength="249" />
              <div *ngIf="reasonInput.invalid && (reasonInput.dirty || reasonInput.touched)" class="text-danger">
                Batch Number
              </div>
            </div>
          </div>

        </fieldset>
        <!-- Single option controls end here -->




          <!-- Bulk option controls start here -->
          <fieldset *ngIf="printType != 'single'" [disabled]="printType == 'single'">
           <div class="form-group row">
             <label for="prefix" class="col-sm-2 col-form-label">Existing Document No<span style="color: red; font-weight: bolder;">*</span></label>
             <div class="col-sm-10">
               <p-dropdown name="docType" [options]="preparations1" [(ngModel)]="print.existingdocumentNumber"
                 (onChange)="documentNumberChange($event)" [autoDisplayFirst]="false" [required]="true"
                 placeholder="Select Existing Document No" #documentnoInput="ngModel" [disabled]="viewMode">
               </p-dropdown>
               <div *ngIf="documentnoInput.invalid && (documentnoInput.dirty || documentnoInput.touched)" class="text-danger">
                 Existing Document Number is required.
               </div>
             </div>
           </div>
         </fieldset>
         
         <!-- Bulk option controls end here -->
         

          <div class="form-group row my-4">
            <div class="col-sm-10 offset-sm-2">
              <button type="button" class="btn btn-outline-secondary mx-2" (click)="onCancel()">Cancel</button>
              <button type="submit" class="btn btn-primary" [disabled]="!fm.form.valid || isButtonDisabled"  *ngIf="!viewMode && !editMode">Submit</button>
              <button type="submit" class="btn btn-primary" [disabled]="!fm.form.valid" *ngIf="editMode">Update</button>
              <button type="button" class="col-xs-1 mx-2  btn btn-success" *ngIf="viewMode && !iscompleted" (click)="approve()">Approve</button>
              <!-- <button type="button" class="col-xs-1 mx-2 offset-sm-1 btn btn-primary" *ngIf="viewMode && !iscompleted" (click)="reinitiative()">Re-Initiative</button> -->
              <button type="button" class="col-xs-1 mx-2 offset-sm-1 btn btn-danger" *ngIf="viewMode && !iscompleted" (click)="reject()">Reject</button>
              <button type="button" class="col-xs-1 mx-2 offset-sm-1 btn btn-success" (click)="checkduplicatetemplate(template)">Preview</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Preview</h4>
    <button type="button" class="close pull-right" style="padding-left:660px;" aria-label="Close" (click)="closeModel()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <iframe *ngIf="pdfUrl" [src]="pdfUrl" type="application/pdf" width="100%" height="500px"></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="closeModel()">Close</button>
  </div>
</ng-template>  
