<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="page-title flex-grow-1">Document Request</h4>

                <div class="back-icon" style="margin-right: 10px;">
                    <a href="javascript:void(0);" onclick="history.back();">
                        <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px;"></i>
                    </a>
                </div>
                
                <div class="d-flex page-title-actions">
                    <div class="input-group custom-input-group">
                        <!-- Magnifying glass icon -->
                        <span class="input-group-text custom-input-group-text">
                            <i class="fas fa-search custom-search-icon"></i>
                        </span>
                        <input type="text" class="form-control custom-input" pInputText type="text" (input)="templatesTable.filterGlobal($any($event.target)?.value, 'contains')"  placeholder="Search" maxlength="250">
                    </div>
                      
                    <button class="btn btn-primary mx-2" type="button" (click)="navigateToAddRequest()" *ngIf="access">New</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="p-4 bg-white shadow-dark rounded-2">
                <p-table #templatesTable [value]="requestsDatasource"
                 [globalFilterFields]="['drid', 'documenttype', 'department','documenttype','workflow']"
                 tableStyleClass="table table-striped" [rows]="itemsPerPage"
                 [paginator]="true" [totalRecords]="requestsDatasource.length"
                 [rowsPerPageOptions]="rowsPerPageOptions" >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:5%">S.No</th>
                        <th pSortableColumn="drid" style="width:5%">Request Code<p-sortIcon field="drid"></p-sortIcon></th>
                        <th pSortableColumn="documenttype" style="width:10%">Document Type<p-sortIcon field="documenttype"></p-sortIcon></th>
                        <th pSortableColumn="department" style="width:10%">Department   <p-sortIcon field="department"></p-sortIcon></th>
                        <!-- <th pSortableColumn="modifiedBy" style="width:20%">Registered by<p-sortIcon field="modifiedBy"></p-sortIcon></th>
                        <th pSortableColumn="modifiedDate" style="width:200px">Registered On <p-sortIcon field="modifiedDate"></p-sortIcon></th> -->
                        <!-- <th pSortableColumn="workflow" style="width:20%">Workflow<p-sortIcon field="workflow"></p-sortIcon></th> -->
                        <!-- <th pSortableColumn="approvedby" style="width:20%">Approved by<p-sortIcon field="approvedby"></p-sortIcon></th>
                        <th pSortableColumn="approvedOn" style="width:200px">Approved On <p-sortIcon field="approvedOn"></p-sortIcon></th> -->
                        <th pSortableColumn="status" style="width:5%">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th style="width:5%">Modify</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-docType let-i="rowIndex">
                    <tr>  
                        <td>{{ i + 1 }}</td>  
                        <td>{{docType?.drid}}</td>
                        <td>{{docType?.documenttype}}</td>
                        <td>{{docType?.department}}</td>
                        <!-- <td>{{docType?.workflow}}</td> -->
                        <!-- <td>{{docType?.modifiedBy}}</td>
                        <td>{{docType?.modifiedDate| date}}</td> -->
                        <!-- <td>{{docType?.approvedby}}</td>
                        <td>{{docType?.approvedOn| date}}</td> -->
                        <td><span class="status" [ngClass]="getStatusClass(docType['status'])">{{docType.status}} </span></td>
                        <td class="text-center" *ngIf="access && (docType?.status === 'In-Progress' || docType?.status === 'Rejected' || docType?.status === 'Returned')"><i (click)="editdocreq(docType)" class="bi bi-pencil"></i></td>
                        <td class="text-center" *ngIf="!access">
                            <i class="bi bi-lock bi-lg" 
                            [ngClass]="{'text-primary':true}"
                            title="No Permissions">
                            </i>
                        </td>
                        <td class="text-center" *ngIf="access && islocked(docType?.status)">
                            <i class="bi bi-lock bi-lg" 
                            [ngClass]="{'text-primary':true}"
                            title="{{ 'Locked'}}">
                            </i>
                          </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
        </div>
    </div>
</div>
<style>
    /* Styles for .custom-input-group */
    .custom-input-group {
        background-color: white;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .custom-input-group-text {
            background: white;
            border: none;
            padding: 0;
            vertical-align: middle;
        }

        .custom-search-icon {
            font-size: 14px;
            margin-right: 5px;
            margin-left: 9px;
            color: #555;
        }

        .custom-input {
            border: none;
            padding: 5px;
            vertical-align: middle;
            background-color: white;
            box-shadow: none;
        }
    </style>














