<header id='header' class='vm-header vm-primary-header container-fluid' style='height:50px;padding-left: 0px !important;padding-right: 0px !important;text-align: center;'>
	<div class="navbar navbar-expand-md navbar-dark vm-p-header pr-0">
		<form name="Header" #HeaderForm="ngForm" class="w-100" novalidate>
			<div class="row">	   
				   <div class='col-lg-12'>
					<div class="vm-content">
						 <div class="right-to-left">
              <exp-offcanvasmenu width="25" [showopencollapsebuttons]="true" menutype="pushmenu">
                <div class='row'>
                  <div class='col-sm-12'>
                    <div id="snippetf87da836956ed27f832f" name="snippetf87da836956ed27f832f">
                      <div class="collapseSidebar" id="accordionExample">
                        <div class="list-group panel">
                          <div class="card-header p-0" id="headingOne">
                            <a href="#!" class="list-group-item" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne">
                              <span class="hidden-sm-down">Product Design</span> </a>
                          </div>

                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <a href="Products/" class="list-group-item">Products </a>

                            <a href="workspaceDashboard/" class="list-group-item">Rate, Rule and Forms</a>
                            <a href="TestManagement/" class="list-group-item">Test Management</a>
                            <a href="MasterPricer/" class="list-group-item">Pricing Flow</a>
                            <a href="ProductSnapshot/" class="list-group-item">Snapshot</a>

                          </div>

                          <!-- <div class="card-header p-0" id="headingTwo">
                            <a href="#!" class="list-group-item collapsed" data-toggle="collapse"
                              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <span class="hidden-sm-down">Product Insights</span></a>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <a href="whatifreports/report-design.html" class="list-group-item">Report Design</a>
                            <a href="portfolio/product-snapshot.html" class="list-group-item">Portfolio</a>
                            <a href="whatifreports/whatif-analysis.html" class="list-group-item">WhatiF Analysis</a>

                          </div> -->
                          <div class="">


                          </div>
                          <div class="">
                            <div class="card-header p-0" id="headingThree">
                              <a href="#!" class="list-group-item collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="hidden-sm-down">Launch</span>
                              </a>

                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                              data-parent="#accordionExample">
                              <div class="card-body p-0">
                                <a href="AddPlanDeterminationFactors/" class="list-group-item">Plandeterminations</a>
                                <a href="Launchtest/" class="list-group-item">Launch</a>
                                <a href="AddReleasePackage/" class="list-group-item">Releases </a>
                              </div>
                            </div>
                          </div>

                          <div class="">
                            <div class="card-header p-0" id="headingFour">
                              <a href="#!" class="list-group-item collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="hidden-sm-down">Administration</span>
                              </a>

                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                              data-parent="#accordionExample">
                              <div class="card-body p-0">
                                <a href="AdminTest/" class="list-group-item">Admin</a>
                                <a href="AddUser/" class="list-group-item">Users</a>
                                <a href="AddRoleTest/" class="list-group-item">Roles </a>
                                <a href="AddEnvironment/" class="list-group-item">Environments</a>
                                <a href="admin/bookofbusiness.html" class="list-group-item">Book Of Business</a>
                                <a href="admin/planpackage.html" class="list-group-item">Plan Package Import</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </exp-offcanvasmenu>
            </div>
					</div>	
				   </div>	   
		   </div>
	   </form>
	</div>
  <p style="
    font-size: x-large;
    color: white;
">Document Management System</p>
</header>