<div class="row bg-white vm-border-bottom">
  <div class="col-12 py-3" *ngIf='ns.subTopNavigations && ns.subTopNavigations.length > 0'>
    <nav class="navbar navbar-expand-lg p-0 vm-secondary-nav">
      <a class="navbar-brand navbar-toggler py-3 py-l" data-toggle="collapse" data-target="#navbarSupportedContent"
         [class.collapsed]="!expandInresponsive" aria-controls="navbarSupportedContent" aria-expanded="false"
         aria-label="Toggle navigation" (click)="expandInresponsive=!expandInresponsive">
        <span *ngIf="ns.activated[2]?.Name"> {{ns.activated[2].Name}}</span>
        <span *ngIf="ns.activated[1].Name && ns.activated[2]== undefined">{{ns.activated[1].Name}}</span>
        <span class="vm-caret" [class.rotate]="expandInresponsive"> </span>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="expandInresponsive">
        <ul class="nav nav-pills vm-tab-pill secondary-nav">
          <li class="nav-item" *ngFor="let item of ns.subTopNavigations;trackBy:trackthenavigationitem" [hidden]='!item.IsVisible'>
            <a class="nav-link" [routerLink]='item.IsEnable?item.path:return' [ngClass]="{'active':item.isActive}" queryParamsHandling="merge">{{item.Name}}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-12 py-3"
       *ngIf='ns.leftnavigationitems && ns.leftnavigationitems.length>0 && ns.subTopNavigations.length == 0'>
    <nav class="navbar navbar-expand-lg p-0 vm-secondary-nav">
      <a class="navbar-brand navbar-toggler py-3 py-l" data-toggle="collapse" data-target="#navbarSupportedContent"
         [class.collapsed]="!expandInresponsive" aria-controls="navbarSupportedContent" aria-expanded="false"
         aria-label="Toggle navigation" (click)="expandInresponsive=!expandInresponsive">
        <span>{{ns.activated[1].Name}}</span>
        <span class="vm-caret" [class.rotate]="expandInresponsive"> </span>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="expandInresponsive">
        <ul class="nav nav-pills vm-tab-pill secondary-nav">
          <li class="nav-item" *ngFor="let item of ns.leftnavigationitems;trackBy:trackthenavigationitem" [hidden]='!item.IsVisible'>
            <a class="nav-link" [routerLink]='item.IsEnable?item.path:return' [ngClass]="{'active':item.isActive}" queryParamsHandling="merge">{{item.Name}}</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>
