<div [ngClass]='orientation == "horizontal" ? "form-row":"form"'>
  <ng-container *ngIf="iscomplex; then complex_data; else non_complex_data">
  </ng-container>
  <ng-template #non_complex_data>
    <div class="form-check vm-checkbox path" *ngFor='let item of primitiveitems;let i = index'>
      <input class="form-check-input" (focus)='onTouched()' type="checkbox" name="{{name}}" id="chk_{{name}}_{{i}}" value="{{item.value}}" [disabled]="isdisabled" (click)="onItemClick(item)" (change)='checked($event)' [(ngModel)]='item.checked'>
      <svg viewBox="0 0 21 21">
        <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
      </svg>
      <label for="chk_{{name}}_{{i}}">
        {{item.value}}
        <div *ngIf='orientation == "vertical" && i== 0 && helpText!=undefined' kendoTooltip position="right" [ngClass]="gethelpClass()" title="{{helpText}}"></div>
        <small *ngIf='orientation == "vertical" && i== 0 && hintText!=undefined' [ngClass]="gethintClass()">{{hintText}}</small>
      </label>
    </div>
  </ng-template>
  <ng-template #complex_data>
    <div class="form-check vm-checkbox path" *ngFor='let item of complexitems;let i = index'>
      <input class="form-check-input" (focus)='onTouched()' type="checkbox" name="{{name}}" id="chk_{{name}}_{{i}}" value="{{item[valuefield]}}" [disabled]="isdisabled" (change)='checked($event)' (click)="onItemClick(item)" [(ngModel)]='item.checked' required>
      <svg viewBox="0 0 21 21">
        <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
      </svg>
      <label for="chk_{{name}}_{{i}}">
        {{item[textfield]}}
        <div *ngIf='orientation == "vertical" && i== 0 && helpText!=undefined' kendoTooltip position="right" [ngClass]="gethelpClass()" title="{{helpText}}"></div>
        <small *ngIf='orientation == "vertical" && i== 0 && hintText!=undefined' [ngClass]="gethintClass()">{{hintText}}</small>
      </label>
    </div>
  </ng-template>
</div>
