<div class="alert alert-warning" role="alert">
  Banner Carousel component is not supported in Flux layout
</div>


<!-- <ng-container *ngIf="data.length > 0">
  <div class="vm-message-slider carousel slide" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <kendo-scrollview #carousel [data]="data" [pageable]="true" [arrows]="showarrows" [endless]="true">
      <ng-template let-item="item">
        <div class="carousel-inner">
          <div class="carousel-item carousel-item-next carousel-item-left">
            <ng-container *ngIf="item.Imagesrc then logo; else binarydata"></ng-container>
            <div class="carousel-caption">
              <h4 class="vm-primary-heading vm-color-teritary font-weight-bold">{{item.Header}}</h4>
              <p [innerHTML]='item.Message'></p>
              <a href="{{item.LinkUrl}}">{{item.Link}}</a>
            </div>
            <ng-template #logo>
              <img src="{{item.Imagesrc}}" class="d-block w-100" />
            </ng-template>
            <ng-template #binarydata>
              <img src="data:image;base64, #:ImageBinaryData#" class="d-block w-100" />
            </ng-template>
          </div>
        </div>
      </ng-template>
    </kendo-scrollview>
  </div>
</ng-container> -->
