<div class="container-fluid">
  <div class="row">
      <div class="col">
          <div class="d-flex justify-content-between align-items-center">
              <h4 class="page-title">
                  <span class="bold-text">Document Preparation</span><br>
                  <span class="bold-text">Audit Trails</span>
              </h4>
              <div class="back-icon">
                  <a href="javascript:void(0);" onclick="history.back();">
                      <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px;"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <div class="row mt-3">
      <div class="col">
          <div class="p-4 bg-white shadow-dark rounded-2">
              <!-- Initiation Section -->
              <div>
                  <h5 class="section-title">Initiation & Modification</h5>
                  <div class="card-group">
                      <div class="card mb-3" *ngFor="let auditConfig of types; let i = index" [ngClass]="{'d-none': auditConfig.EntityInfo.Status !== 'IN-PROGRESS'}">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-sm-3"><strong>Version:</strong></div>
                                  <div class="col-sm-9"><strong>{{ i }}</strong></div>
                              </div>
                             


                              
                              <div class="row">
                                <div class="col-sm-3">
                                  <strong>Document Title:</strong>
                                </div>
                                <div class="col-sm-9">
                                  {{ auditConfig.EntityInfo.documenttitle }}
                                </div>                 
                              </div>
                              
            
                              <div class="row">
                                <div class="col-sm-3">
                                  <strong>Document Number:</strong>
                                </div>
                                <div class="col-sm-9">
                                  {{ auditConfig.EntityInfo.documentno }}
                                </div>                 
                              </div>
                          
            
                              <div class="row">
                                <div class="col-sm-3">
                                  <strong>Department:</strong>
                                </div>
                                <div class="col-sm-9">
                                  {{ auditConfig.EntityInfo.department }}
                                </div>                 
                              </div>
            
            
                              <div class="row">
                                <div class="col-sm-3">
                                  <strong>Template Name:</strong>
                                </div>
                                <div class="col-sm-9">
                                  {{ auditConfig.EntityInfo.template }}
                                </div>     
            
                              </div>
            
                              <div class="row">
                                <div class="col-sm-3">
                                  <strong>Initiator Comments:</strong>
                                </div>
                                <div class="col-sm-9">
                                  {{ auditConfig.EntityInfo.details }}
                                </div>                                   
                              </div>
            
                              <div class="row">
                                <div class="col-sm-3">
                                  <strong>Template Name:</strong>
                                </div>
                                <div class="col-sm-9">
                                  {{ auditConfig.EntityInfo.template }}
                                </div>                 
                              </div>
            
            
            
                              <div class="row">
                                <div class="col-sm-3">
                                  <strong>Prepared By:</strong>
                                </div>
                                <div class="col-sm-9">
                                  {{ auditConfig.EntityInfo.CreatedBy }}
                                </div>
                              </div>    
            
            
                              
                              <div class="row">
                                <div class="col-sm-3">
                                  <strong>Prepared On:</strong>
                                </div>
                                <div class="col-sm-9">
                                  {{ auditConfig.EntityInfo.CreatedDate | date:'dd/MM/yyyy HH:mm'  }}
                                </div>
                              </div>  
            
            
                                            <div class="row">
                                  <div class="col-sm-3"><strong>Status:</strong></div>
                                  <div class="col-sm-9 bold-status">{{ auditConfig.EntityInfo.Status }}</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Review, Approve, Return, Reject Section -->
              <div>
                  <h5 class="section-title">Review/Approve/Return</h5>
                  <div class="card-group">
                      <div class="card mb-3" *ngFor="let auditConfig of types; let i = index" [ngClass]="{'d-none': auditConfig.EntityInfo.Status === 'IN-PROGRESS'}">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-3">
                                <strong>Document Title:</strong>
                              </div>
                              <div class="col-sm-9">
                                {{ auditConfig.EntityInfo.documenttitle }}
                              </div>                 
                            </div>
                            
          
                            <div class="row">
                              <div class="col-sm-3">
                                <strong>Document Number:</strong>
                              </div>
                              <div class="col-sm-9">
                                {{ auditConfig.EntityInfo.documentno }}
                              </div>                 
                            </div>
                        
          
                            <div class="row">
                              <div class="col-sm-3">
                                <strong>Department:</strong>
                              </div>
                              <div class="col-sm-9">
                                {{ auditConfig.EntityInfo.department }}
                              </div>                 
                            </div>
          
          
                            <div class="row">
                              <div class="col-sm-3">
                                <strong>Template Name:</strong>
                              </div>
                              <div class="col-sm-9">
                                {{ auditConfig.EntityInfo.template }}
                              </div>     
          
                            </div>
          
                            <div class="row">
                              <div class="col-sm-3">
                                <strong>Initiator Comments:</strong>
                              </div>
                              <div class="col-sm-9">
                                {{ auditConfig.EntityInfo.details }}
                              </div>                                   
                            </div>
          
                            <div class="row">
                              <div class="col-sm-3">
                                <strong>Template Name:</strong>
                              </div>
                              <div class="col-sm-9">
                                {{ auditConfig.EntityInfo.template }}
                              </div>                 
                            </div>
          
          
          
                            <div class="row">
                              <div class="col-sm-3">
                                <strong>Prepared By:</strong>
                              </div>
                              <div class="col-sm-9">
                                {{ auditConfig.EntityInfo.CreatedBy }}
                              </div>
                            </div>    
          
          
                            
                            <div class="row">
                              <div class="col-sm-3">
                                <strong>Prepared On:</strong>
                              </div>
                              <div class="col-sm-9">
                                {{ auditConfig.EntityInfo.CreatedDate | date:'dd/MM/yyyy HH:mm'  }}
                              </div>
                            </div>  


<div class="row" *ngIf="auditConfig.EntityInfo.Status === 'Reviewed'">
                  <div class="col-sm-3">
                      <strong>Reviewed By:</strong>
                  </div>
                  <div class="col-sm-9">
                      {{ auditConfig.EntityInfo.ModifiedBy }}
                  </div>
              </div>
          
                              <div class="row" *ngIf="auditConfig.EntityInfo.Status === 'Approved'">
                                <div class="col-sm-3">
                                    <strong>Approved By:</strong>
                                </div>
                                <div class="col-sm-9">
                                    {{ auditConfig.EntityInfo.ModifiedBy }}
                                </div>
                            </div>
              
              
                            <div class="row" *ngIf="auditConfig.EntityInfo.Status === 'Returned'">
                              <div class="col-sm-3">
                                  <strong>Returned By:</strong>
                              </div>
                              <div class="col-sm-9">
                                  {{ auditConfig.EntityInfo.ModifiedBy }}
                              </div>
                          </div>
              
              
              
                          <div class="row" *ngIf="auditConfig.EntityInfo.Status === 'Rejected'">
                            <div class="col-sm-3">
                                <strong>Rejected By:</strong>
                            </div>
                            <div class="col-sm-9">
                                {{ auditConfig.EntityInfo.ModifiedBy }}
                            </div>
                        </div>
                             
              
                              <div class="row">
                                  <div class="col-sm-3"><strong>Status:</strong></div>
                                  <div class="col-sm-9 bold-status">{{ auditConfig.EntityInfo.Status }}</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Add more sections or rows for other properties if needed -->
          </div>
      </div>
  </div>
</div>
