<div class="alert alert-warning" role="alert">
    Marquee component is not supported in Mobile layout
  </div>
<!-- <div class="vm-message-ticker">
    <div class="left"><span title="{{title}}">{{title}}</span></div>
    <div class="right">
        <marquee direction='left' onmouseover="this.stop()" onmouseout="this.start()" loop="infinite" scrollamount="0"
            scrolldelay="0" #marquee>
            <ul>
                <li *ngFor="let item of data" [innerHTML]="item">
                </li>
            </ul>
        </marquee>
    </div>
</div> -->