<div class="alert alert-warning" role="alert">
  Form component is not supported in Flux layout
</div>

<!-- <div class="row vm-main-cnt">
  <div class="col-md-12 px-0">
    <section *ngIf='formsVsble'>
      <div class="vm-content p-5">
        <div class="row">
          <div class="col">
            <div class="row justify-content-md-center mb-5">
              <div class="vm-from-chooser-tabs">
                <div class="vm-grid vm-shadow-lg-blue rounded-lg bg-white">
                  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link p-4 vm-primary-heading"
                         (click)="getFormsByFormType('mandatory');pageNumber = 0 "
                         [ngClass]="{ 'active' : formType == 'mandatory' }"
                         data-toggle="tab">Included Forms</a>
                    </li>
                    <li class="nav-item">
                      <a [ngClass]="{ 'active' : formType == 'optional' }"
                         (click)="getFormsByFormType('optional');pageNumber = 0 " class="nav-link p-4 vm-primary-heading"
                         data-toggle="tab">Optional Forms</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="included-forms" role="tabpanel">
                    <section class="vm-grid vm-shadow-lg-blue rounded-lg bg-white vm-formchooser">
                      <header class="vm-separator position-relative vm-border-bottom-for-white-panel">
                        <div class="row m-0">
                          <div class="col-12">
                            <div class="vm-header-action">
                              <a class="formFilter" (click)="isFltrVsble = !isFltrVsble">
                                <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16">
                                    <path d="M5.83 8.728A.381.381 0 016 9v7l3-3V9a.381.381 0 01.17-.272L15 3H0zM0 0h15v2H0V0z"
                                          fill="#00a1c8" fill-rule="evenodd"></path>
                                  </svg>
                                </span>
                                Filter
                              </a>
                            </div>
                          </div>
                        </div>
                      </header>
                      <section class="vm-second-level-bg  filterResult vm-border-bottom-for-dark-panel mt-n1" *ngIf="isFltrVsble">
                        <div class="vm-content p-5">
                          <div class="row">
                            <div class="form-group col-12 col-md-6 col-lg-3">
                              <label for="Location" class="labelBold">Form Number</label>
                              <input type="text" class="form-control w-100" [(ngModel)]="formNumber"
                                     placeholder="Search by Form Number or Name">
                            </div>
                            <div class="form-group col-12 col-md-6 col-lg-3">
                              <label class="labelBold">Type</label>
                              <kendo-dropdownlist [(ngModel)]='selectedRiskType' class="form-control" [data]='riskTypes'
                                                  textField="DisplayName" valueField="RiskType"
                                                  [defaultItem]='{ DisplayName: "Select", RiskType: "Select" }'>
                              </kendo-dropdownlist>
                            </div>
                            <div class="form-group col-12 col-md-6 col-lg-3">
                              <label class="labelBold">View</label>
                              <kendo-dropdownlist [(ngModel)]='viewType' class="form-control" [valuePrimitive]="true" [data]='viewForms'
                                                  textField="text" [defaultItem]='{ text: "All Forms", value: "All Forms" }' valueField="value">
                              </kendo-dropdownlist>
                            </div>
                            <div class="form-group col-12 col-md-6 col-lg-3">
                              <label class="labelBold">Premium Bearing</label>
                              <kendo-dropdownlist [(ngModel)]='premiumBearing' class="form-control" [valuePrimitive]="true"
                                                  [data]='lstPremiumBearing' textField="text" valueField="value"
                                                  [defaultItem]='{ text: "Select", value: "Select" }'>
                              </kendo-dropdownlist>
                            </div>
                          </div>
                        </div>
                        <div class="footer text-center vm-border-top-for-dark-panel p-5">
                          <a class="mr-3" (click)="clearFilter()">Clear</a>
                          <button class="btn btn-secondary formFilter"
                                  (click)="filterForms(true);pageNumber = 0; curntPageNum = 0">
                            Filter
                          </button>
                        </div>
                      </section>
                      <div class="vm-content bg-white">
                        <div class="table-responsive">
                          <kendo-grid id="dgForms" class="table vm-table-bdr-separator" [skip]="pageNumber" (pageChange)="onPageChange($event)"
                                      name="dgForms" [kendoGridBinding]='forms' [sortable]='true' filterable='menu' [pageable]='{buttonCount: 3 }'
                                      [pageSize]='paramsConfig.PageSize' [sort]="sort">
                            <kendo-grid-column *ngIf="formType != 'mandatory'" title="Choose Form" width="10" [sortable]="false"
                                               [filterable]="false">
                              <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="form-check pl-0">
                                  <div class="custom-control custom-checkbox checkbox pl-0">
                                    <input id="{{dataItem.Number}}"
                                           name="{{dataItem.Number}}" type="checkbox" [(ngModel)]='dataItem.IsSelected'
                                           #cbf58f5b432351039118d7=ngModel (change)="formSelect(dataItem)" [disabled]="viewMode">
                                    <label class="checkbox-label" for="{{dataItem.Number}}">
                                    </label>
                                  </div>
                                </div>
                              </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="DisplayName" title="Form Name" width="40" [filterable]='false'>
                            </kendo-grid-column>
                            <kendo-grid-column field="Number" title="Form Number" width="10" [filterable]='false'>
                            </kendo-grid-column>
                            <kendo-grid-column field="EditionDate" title="Form Edition Date" width="10" [filterable]='false'
                                               [sortable]="false">
                            </kendo-grid-column>
                            <kendo-grid-column field="PremiumBearing" title="Premium Bearing" width="10" [filterable]='false'
                                               [sortable]="false">
                            </kendo-grid-column>
                            <kendo-grid-column title="Req. Additional Details" width="10" [sortable]="false" [filterable]="false">
                              <ng-template kendoGridCellTemplate let-dataItem>
                                <button (click)="$event.data=dataItem;enterDetails(dataItem)"
                                        [disabled]="!dataItem.IsSelected && dataItem.Type != 'Mandatory'"
                                        class="border-0 vm-img-withbutton-check"
                                        *ngIf='dataItem.RequireAdditionalDetails || !dataItem.IsPolicyForm'
                                        [ngClass]="{ 'vm-disabled-img' : !dataItem.IsSelected }">
                                  <svg *ngIf='dataItem.IsSubmit' xmlns="http://www.w3.org/2000/svg" width="18" height="15">
                                    <path d="M10.989 0H1a.976.976 0 00-1 1v13a.946.946 0 001.006 1h10a1.037 1.037 0 001-1.014V1a1 1 0 00-1.017-1zM3 3h2v1H3V3zm6 2v1H3V5h6zM3 7h6v1H3V7zm0 2h4v1H3V9zm0 2h3v1H3v-1z" fill-rule="evenodd" fill="#00a1c9" />
                                    <circle cx="11" cy="8" r="7" fill="#58e98e" />
                                    <path d="M10.344 10.5a.438.438 0 01-.283.1.433.433 0 01-.282-.1L7.521 8.567a.462.462 0 010-.726l.282-.242a.673.673 0 01.849 0l1.409 1.206 3.81-3.26a.674.674 0 01.848 0l.281.24a.462.462 0 010 .726z" fill="#fff" fill-rule="evenodd" />
                                  </svg>
                                  <svg *ngIf='!dataItem.IsSubmit' xmlns="http://www.w3.org/2000/svg" width="12" height="15">
                                    <path d="M10.989 0H1a.976.976 0 00-1 1v13a.946.946 0 001.006 1h10a1.037 1.037 0 001-1.014V1a1 1 0 00-1.017-1zM3 3h2v1H3V3zm6 2v1H3V5h6zM3 7h6v1H3V7zm0 2h4v1H3V9zm0 2h3v1H3v-1z" fill="#00a1c9" fill-rule="evenodd" />
                                  </svg>
                                </button>
                              </ng-template>
                            </kendo-grid-column>
                          </kendo-grid>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <formriskfilters [data]='lstRisks' [selectedForm]='selForm' (showForms)='showAllForms($event)'
                     (updateForms)='updateForms($event)'></formriskfilters>
  </div>
</div> -->
