header {
  box-shadow: 0 0 2rem #2930421a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  .user-info-block {
    a.dropdown-toggle {
      text-decoration: none;
      font-size: 1.15rem;
      color: #505050;
      height: 55px;
      display: flex;
      align-items: center;      
    }
  }

  .vr {
    align-self: center;
    background-color: #6c757d;
  }

  h5 {
    font-size: 1.2rem;
    color: #0a2d5b;
    padding-left: 38px;
  }
}
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 330px;
  margin-right: 10px;
}

.search-input {
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  /* Allow input to grow and fill available space */
}

.search-button {
  border: none;
  background-color: transparent;
  /* Transparent background for button */
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.search-select {
  position: absolute;
  right: 30px;
  border: 0px;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding-left: 5px;
  color: #333;
  padding: 3px 12px;
  margin-right: 5px;
  outline: none;
}

.search-button i {
  font-size: 14px;
  color: #5e6e82;
}


.fa-bell {
  font-size: 16px;
}
