<div [ngClass]="{'vm-content px-5': isChild,
'vm-content': !isChild}">
  <div id="accordion">
    <section [ngClass]="{'vm-grid vm-second-level-bg mb-5': isChild,
      'vm-pricing-sum-location-acc vm-grid vm-shadow-lg-blue rounded-lg bg-white mb-5': !isChild}">
      <header id="headingOne"
              class="p-5 vm-separator position-relative vm-separator-hide hide-separator">
        <div class="row w-100">
          <div class="col-8 col-md-10 col-lg-10 collapse_head"
               (click)="changeState()"
               [ngClass]="{ collapsed: tabstate == 'close' }">
            <h4 class="vm-primary-heading vm-color-teritary font-weight-bold pl-4">
              {{ title }}
            </h4>
          </div>
          <div class="col-4 col-md-2 col-lg-2 vm-grid-mark">
            <span class="text-danger vm-primary-heading  pl-5" [ngClass]="{'pl-lg-3':!isChild}">
              {{ price | currency }}
            </span>
          </div>
        </div>
      </header>
      <div class="vm-content collapse show" [@changeSize]='tabstate'>
        <ng-content></ng-content>
      </div>
    </section>
  </div>
</div>
