<section class="vm-border-bottom-for-white-panel" *ngIf="coverages.length>0">
  <header class="vm-separator position-relative  vm-border-bottom-for-white-panel">
    <div class="row  m-0">
      <div class="col-12 col-lg-6 d-flex border-right vm-border-right-sm-none p-5">
        <div class="input-group vm-column-no-gutter vm-addon ">
          <input type="text" name="coverageFilter" autocomplete="off" #coverageFilter="ngModel"
                 [(ngModel)]="queryString" class="form-control" placeholder="Search by coverages name"
                 aria-label="Recipient's username" aria-describedby="basic-addon2" (input)="searchCoverage()">
          <div class="input-group-append">
            <a class="input-group-text text-white table-head-bg-color" id="basic-addon2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path d="M23.706 22.3l-5.77-5.769a10.1 10.1 0 10-1.415 1.415l5.769 5.765a1 1 0 101.416-1.411zm-13.592-4.08a8.1 8.1 0 118.106-8.1 8.111 8.111 0 01-8.106 8.095z"
                      fill="#ffffff" fill-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12  col-lg-3 col-sm-6 d-flex border-right border-sm-0 px-5 py-lg-5">
        <select class="form-control w-100 mb-4 mb-lg-0" name="coverageOption" #coverageOption="ngModel"
                [(ngModel)]="coverageSelected" (change)="searchCoverage()">
          <option *ngFor="let coverage of coveragesOptions" [value]="coverage">{{coverage}}</option>
        </select>
      </div>
      <div class="col-12 col-lg-3 col-sm-6 pl-lg-5 pr-5 pl-5 pl-sm-0 pt-0 p-lg-0 d-sm-flex align-items-lg-center align-items-sm-top justify-content-left pb-4 pb-sm-0 pt-sm-2">
        <div class="">
          <a [routerLink]="" class="ml-2 mt-2 mt-sm-1" (click)="resetSearchInput()">
            <span>
              <img src="assets/img/reset-icon.svg" width="16" height="16" />
            </span>
            Reset
          </a>
        </div>
      </div>
    </div>

  </header>
  <div class="vm-content " *ngIf="coverages.length>0 && !formReseting" [hidden]="HideCoverageGrid">
    <form name="coverageForm" #coverageForm="ngForm" nonvaldate>
      <div class="table-responsive">
        <table class="table table-striped vm-fold-table">
          <thead>
            <tr class="d-flex vm-separator position-relative">
              <th scope="col" class="col-sm-10 col-8 text-dark border-top-0">Coverage Name</th>
              <th scope="col" class="col-sm-2 col-4 text-dark border-top-0">Type</th>

            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let coverage of coverages| orderBy:'SequenceNumber' ;let cindex = index; trackBy:covIdTracker">
              <tr [hidden]='!coverage.Searched' *ngIf="(coverage.IsVisible)">
                <td colspan="2" class="bg-white"
                    [ngClass]="{'vm-open': coverage.IsSelected && coverage.IsExpanded, 'vm-arrow-function': coverage.IsSelected && !coverage.IsExpanded}">
                  <section>
                    <header class="px-5 py-4">
                      <div class="row mx-0 vm-view">
                        <div class="col-sm-10 col-8 pl-4">
                          <span class="vm-coverage-table-arrow"
                                (click)="coverage.IsSelected==true?coverage.IsExpanded=!coverage.IsExpanded:return"></span>
                          <span class="checkbox">
                            <input type="checkbox" id="{{coverage.Id}}" class="" checked=""
                                   [(ngModel)]='coverage.IsSelected' name='{{coverage.Name}}'
                                   (change)="coverage.IsExpanded = coverage.IsSelected;coverage.IsActionable?ExecuteISolver(coverage,coverage,'coverage'):''"
                                   [disabled]='coverage.IsMandatory || !editMode'>
                            <label for="{{coverage.Id}}" class="checkbox-label">
                            </label>
                            <span class="flaticon-question-mark v-text-primary vam-Icon18x vam-ML10"
                                  (click)="coverage.IsSelected==true?coverage.IsExpanded=!coverage.IsExpanded:return">
                              {{coverage.DisplayName}}
                            </span>
                            <div kendoTooltip position="right" class="vm-help-icon-inline" title="{{coverage.HelpText}}"
                                 *ngIf="coverage.HelpText !='' && coverage.HelpText != null ">

                            </div>
                          </span>
                        </div>
                        <div class="col-sm-2 col-4">New Busines</div>
                      </div>
                    </header>
                    <div class="vm-content px-5">
                      <div class="row mx-0 vm-fold" *ngIf="coverage.IsSelected">
                        <div class="vm-fold-content col-12 p-5" [hidden]='!coverage.IsSelected'>
                          <div class="row" *ngFor="let attr of coverage.Attributes;let index = $index;trackBy:identify">
                            <div class="col-12">
                              <div class="form-group row " *ngIf="attr.IsVisible"
                                   [class.vm-is-invalid]="attr.IsDTxInvalid">
                                <label class="col-sm-4 col-form-label">
                                  {{attr.DisplayName}}
                                  <span class="vm-star-required font-weight-bold" *ngIf="attr.IsRequired"></span>
                                </label>
                                <ng-container [ngSwitch]="attr.ControlType">
                                  <ng-container *ngSwitchCase="'DropDown'">
                                    <div class="vm-column-gutter pr-0" [class.vm-is-invalid]="vs.IsCtrlInvalid(dropdown)">
                                      <kendo-dropdownlist #dropdown="ngModel" attr.alt="{{attr.DisplayName}}"
                                                          id="{{attr.Id}}" [data]="attr.Values" name='{{attr.Id}}_{{attr.Name}}'
                                                          [(ngModel)]="attr.UserValue" [required]="attr.IsRequired"
                                                          (valueChange)="attr.IsActionable ? ExecuteISolver(coverage,attr):'' "
                                                          [disabled]="!attr.IsEnabled || !editMode">
                                        <ng-template kendoDropDownListValueTemplate let-dataItem
                                                     *ngIf="attr.Format=='currency'">
                                          <span class="template" *ngIf="dataItem ">
                                            ${{ dataItem }}
                                          </span>

                                        </ng-template>

                                        <ng-template kendoDropDownListValueTemplate let-dataItem
                                                     *ngIf="attr.Format!='currency'">
                                          <span class="template" *ngIf="dataItem ">{{ dataItem }}</span>
                                        </ng-template>
                                        <ng-template kendoDropDownListItemTemplate let-dataItem
                                                     *ngIf="attr.Format=='currency'">
                                          <span class="template" *ngIf="dataItem ">
                                            $
                                          </span> {{ dataItem}}
                                        </ng-template>
                                      </kendo-dropdownlist>
                                      <div class='vm-validation-wrap' *ngIf="vs.IsCtrlInvalid(dropdown)">
                                        <span class="vm-validation vm-top-arrow mt-2 p-2">
                                          {{vs.GetErrorMessage(dropdown, {},attr.DisplayName)}}
                                        </span>
                                      </div>
                                    </div>
                                  </ng-container>
                                  <ng-container *ngSwitchCase="'TextBox'">
                                    <ng-container [ngSwitch]="attr.DataType">
                                      <ng-container *ngSwitchCase="'Decimal'">
                                        <div class="vm-column-gutter pr-0" [class.vm-is-invalid]="vs.IsCtrlInvalid(decimal)">
                                          <kendo-numerictextbox id="{{attr.Id}}" attr.alt="{{attr.DisplayName}}"
                                                                name="{{attr.Id}}{{attr.Name}}" #decimal="ngModel"
                                                                [min]="attr.Min ? attr.Min:0" [max]="attr.Max ? attr.Max : undefined"
                                                                [spinners]="false" [(ngModel)]="attr.UserValue"
                                                                (blur)="attr.IsActionable?ExecuteISolver(coverage,attr):''"
                                                                [pattern]='attr.RegexValidation' [required]="attr.IsRequired"
                                                                [format]="getFormat(attr.Format, attr.DataType)"
                                                                [decimals]="getDecimalPrecisionLength(attr.Format, attr.DataType)"
                                                                [disabled]="!attr.IsEnabled || !editMode">

                                          </kendo-numerictextbox>
                                          <div class='vm-validation-wrap' *ngIf="vs.IsCtrlInvalid(decimal )">
                                            <span class="vm-validation vm-top-arrow mt-2 p-2">
                                              {{vs.GetErrorMessage(decimal, {},attr.DisplayName)}}
                                            </span>
                                          </div>
                                        </div>
                                      </ng-container>
                                      <ng-container *ngSwitchCase="attr.DataType == 'Integer' || attr.DataType == 'Numeric' ? attr.DataType : '' ">
                                        <div class="vm-column-gutter pr-0" [class.vm-is-invalid]="vs.IsCtrlInvalid(integer)">
                                          <kendo-numerictextbox id="{{attr.Id}}" attr.alt="{{attr.DisplayName}}"
                                                                #integer="ngModel" name="{{attr.Id}}{{attr.Name}}"
                                                                [min]=" attr.Min ? attr.Min:0" [spinners]="false"
                                                                [max]=" attr.Max ? attr.Max :undefined" [(ngModel)]="attr.UserValue"
                                                                [format]="getFormat(attr.Format, attr.DataType)"
                                                                (blur)="attr.IsActionable?ExecuteISolver(coverage,attr):''"
                                                                [pattern]='attr.RegexValidation' [required]="attr.IsRequired"
                                                                [decimals]="getDecimalPrecisionLength(attr.Format, attr.DataType)"
                                                                [disabled]="!attr.IsEnabled || !editMode">
                                          </kendo-numerictextbox>
                                          <div class='vm-validation-wrap' *ngIf="vs.IsCtrlInvalid(integer )">
                                            <span class="vm-validation vm-top-arrow mt-2 p-2">
                                              {{vs.GetErrorMessage(integer, {},attr.DisplayName)}}
                                            </span>
                                          </div>
                                        </div>
                                      </ng-container>

                                      <ng-container *ngSwitchDefault>
                                        <div class="vm-column-gutter pr-0" [class.vm-is-invalid]="vs.IsCtrlInvalid(default)">
                                          <input id="{{attr.Id}}" attr.alt="{{attr.DisplayName}}" #default="ngModel"
                                                 name="{{attr.Id}}{{attr.Name}}" type='text' class='form-control'
                                                 (change)="attr.IsActionable?ExecuteISolver(coverage,attr):''"
                                                 [(ngModel)]='attr.UserValue' [required]="attr.IsRequired"
                                                 pattern='{{attr.RegexValidation}}'
                                                 [maxlength]=' (attr.MaxLength>0) ? attr.MaxLength : " " '
                                                 [disabled]="!attr.IsEnabled || !editMode" />
                                          <div class='vm-validation-wrap' *ngIf="vs.IsCtrlInvalid(default)">
                                            <span class="vm-validation vm-top-arrow mt-2 p-2">
                                              {{vs.GetErrorMessage(default, {},attr.DisplayName)}}
                                            </span>
                                          </div>
                                        </div>
                                      </ng-container>
                                    </ng-container>
                                  </ng-container>

                                  <ng-container *ngSwitchCase="'TextArea'">
                                    <div class="vm-column-gutter pr-0" [class.vm-is-invalid]="vs.IsCtrlInvalid(textArea)">
                                      <textarea id="{{attr.Id}}" #textArea="ngModel" attr.alt="{{attr.DisplayName}}"
                                                name="{{attr.Id}}{{attr.Name}}" class='form-control'
                                                (blur)="attr.IsActionable?ExecuteISolver(coverage,attr):''"
                                                [(ngModel)]='attr.UserValue' [required]="attr.IsRequired"
                                                pattern="{{attr.RegexValidation}}"
                                                [maxlength]=' (attr.MaxLength>0) ? attr.MaxLength : " " '
                                                [disabled]="!attr.IsEnabled || !editMode">
                                                                                                                  </textarea>
                                      <div class='vm-validation-wrap' *ngIf="vs.IsCtrlInvalid(textArea)">
                                        <span class="vm-validation vm-top-arrow mt-2 p-2">
                                          {{vs.GetErrorMessage(textArea, {},attr.DisplayName)}}
                                        </span>
                                      </div>
                                    </div>
                                  </ng-container>
                                  <ng-container *ngSwitchCase="'DatePicker'">
                                    <div class="vm-column-gutter pr-0" [class.vm-is-invalid]="vs.IsCtrlInvalid(datePicker)">
                                      <kendo-datepicker id="{{attr.Id}}" attr.alt="{{attr.DisplayName}}"
                                                        #datePicker="ngModel" name="{{attr.Id}}{{attr.Name}}"
                                                        [min]=" attr.Min ? getDateObj(attr.Min) : '' "
                                                        [max]=" attr.Max ? getDateObj(attr.Max) : '' "
                                                        (valueChange)="attr.IsActionable?ExecuteISolver(coverage,attr):''"
                                                        [required]=attr.IsRequired [(ngModel)]="attr.UserValue"
                                                        [disabled]="!attr.IsEnabled || !editMode">
                                      </kendo-datepicker>
                                      <div class='vm-validation-wrap' *ngIf="vs.IsCtrlInvalid(datePicker )">
                                        <span class="vm-validation vm-top-arrow mt-2 p-2">
                                          {{vs.GetErrorMessage(datePicker, {},attr.DisplayName)}}
                                        </span>
                                      </div>
                                    </div>


                                  </ng-container>
                                  <ng-container *ngSwitchCase="'DateTime'">
                                    <div class="vm-column-gutter pr-0" [class.vm-is-invalid]="vs.IsCtrlInvalid(datePicker)">
                                      <kendo-datepicker id="{{attr.Id}}" attr.alt="{{attr.DisplayName}}"
                                                        #datePicker="ngModel" name="{{attr.Id}}{{attr.Name}}"
                                                        [min]=" attr.Min ? getDateObj(attr.Min) : '' "
                                                        [max]=" attr.Max ? getDateObj(attr.Max) : '' "
                                                        (valueChange)="attr.IsActionable?ExecuteISolver(coverage,attr):''"
                                                        [required]=attr.IsRequired [(ngModel)]="attr.UserValue"
                                                        [disabled]="!attr.IsEnabled || !editMode">
                                      </kendo-datepicker>
                                      <div class='vm-validation-wrap' *ngIf="vs.IsCtrlInvalid(datePicker )">
                                        <span class="vm-validation vm-top-arrow mt-2 p-2">
                                          {{vs.GetErrorMessage(datePicker, {},attr.DisplayName)}}
                                        </span>
                                      </div>
                                    </div>

                                  </ng-container>
                                  <ng-container *ngSwitchCase="'CheckBox'">
                                    <div class="vm-column-gutter pr-0" [class.vm-is-invalid]="vs.IsCtrlInvalid(checkBox)">
                                      <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="{{attr.Id}}" attr.alt="{{attr.DisplayName}}"
                                               kendoCheckBox #checkBox="ngModel" name="{{attr.Id}}{{attr.Name}}"
                                               class="form-check-input custom-control-input"
                                               (change)="attr.IsActionable?ExecuteISolver(coverage,attr):''"
                                               [(ngModel)]='attr.UserValue' [required]="attr.IsRequired"
                                               [disabled]="!attr.IsEnabled || !editMode" />
                                        <label for="{{attr.Id}}" class="form-check-label custom-control-label">
                                        </label>
                                      </div>
                                      <div class='vm-validation-wrap' *ngIf="vs.IsCtrlInvalid(checkBox)">
                                        <span class="vm-validation vm-top-arrow mt-2 p-2">
                                          {{vs.GetErrorMessage(checkBox, {},attr.DisplayName)}}
                                        </span>
                                      </div>
                                    </div>

                                  </ng-container>
                                  <ng-container *ngSwitchDefault>
                                    <div class="vm-column-gutter pr-0" [class.vm-is-invalid]="vs.IsCtrlInvalid(default)">
                                      <input id="{{attr.Id}}" attr.alt="{{attr.DisplayName}}" #default="ngModel"
                                             name="{{attr.Id}}{{attr.Name}}" type='text' class='form-control'
                                             (blur)="attr.IsActionable?ExecuteISolver(coverage,attr):''"
                                             [(ngModel)]='attr.UserValue' [required]="attr.IsRequired"
                                             pattern='{{attr.RegexValidation}}' [disabled]="!attr.IsEnabled || !editMode" />
                                      <div class='vm-validation-wrap' *ngIf="vs.IsCtrlInvalid(default)">
                                        <span class="vm-validation vm-top-arrow mt-2 p-2">
                                          {{vs.GetErrorMessage(default, {},attr.DisplayName)}}
                                        </span>
                                      </div>
                                    </div>
                                  </ng-container>
                                </ng-container>
                                <div kendoTooltip position="right" class="vm-help-icon-inline" title="{{attr.HelpText}}"
                                     *ngIf="attr.HelpText !='' && attr.HelpText != null ">
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </section>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

    </form>
  </div>


</section>

<section>
  <div class="vm-content p-5" *ngIf="!SearchAvailable && CoveragesPresent && RiskInstancePresent && !coverageLoading">
    <div class="alert alert-info p-4 vm-segoui-bold mb-0 text-center ">
      No coverages to display for the selected filter
    </div>
  </div>
  <div class="vm-content p-5" *ngIf="!CoveragesPresent && RiskInstancePresent && !coverageLoading">
    <div class="alert alert-info p-4 vm-segoui-bold mb-0 text-center ">
      No coverages to display
    </div>
  </div>
  <div class="vm-content p-5" *ngIf="coverageLoading">
    <div class="alert alert-info p-4 vm-segoui-bold mb-0 text-center ">
      coverages Loading .....
    </div>
  </div>
</section>
