<div class="container-fluid">
  <div class="row p-2">
    <div class="col">
      
      <div class="col d-flex justify-content-between align-items-center">

        <h4 class="page-title">{{title}}</h4>
  
        <div class="back-icon" style="margin-right: 10px;">
  
          <a href="javascript:void(0);" onclick="history.back();">
  
            <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px;"></i>
  
          </a>
  
        </div>
  
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
     
        <form (ngSubmit)="submit(newplant)" #fm="ngForm">
        

      
        <div class="p-4 bg-white shadow-dark rounded-2">

          <div class="form-group row">
            <label for="plantname" class="col-sm-2 col-form-label">Plant Name<span style="color: red; font-weight: bolder;">*</span></label>
            <div class="col-sm-10">
              <input type="text"
                     class="form-control"
                     id="plantname"
                     name="plantname"
                     placeholder="Enter Plant Name" 
                     [(ngModel)]="newplant.PlantName"
                     maxlength="50"
                     required
                     #plantnameInput="ngModel"  />
                     <div *ngIf="plantnameInput.invalid && (plantnameInput.dirty || plantnameInput.touched)" class="text-danger">
                      Plant Name is required
                    </div>

            </div>
          </div>

          <div class="form-group row">
            <label for="plantcode" class="col-sm-2 col-form-label">Plant Code<span style="color: red; font-weight: bolder;">*</span></label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="plantcode"
                name="plantcode"
                placeholder="Enter Plant Code"
                [(ngModel)]="newplant.PlantCode"
                maxlength="6"
                required
                [disabled]="editMode"
                #plantcodeInput="ngModel"
              />
              <div *ngIf="plantcodeInput.invalid && (plantcodeInput.dirty || plantcodeInput.touched)" class="text-danger">
                <ng-container *ngIf="plantcodeInput.hasError('pattern')">
                  Please enter only numbers
                </ng-container>
                <ng-container *ngIf="plantcodeInput.hasError('required')">
                  Plant Code is required.
                </ng-container>
              </div>
            </div>
          </div>
          





          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Plant Address<span style="color: red; font-weight: bolder;">*</span></label>
            <div class="col-sm-10">
              <textarea class="form-control"
                        id="description"
                        name="description"
                        rows="3"
                        maxlength="250"
                        placeholder="Enter Plant Address"
                        [(ngModel)]="newplant.PlantAddress"  required
                        #descriptionInput="ngModel">
                      </textarea>
                      <div *ngIf="descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)" class="text-danger">
                       Plant Address is required
                      </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Comments" class="col-sm-2 col-form-label">Comments </label>
            <div class="col-sm-10">
              <textarea class="form-control"
                        id="Comments"
                        name="Comments"
                        maxlength="250"
                        rows="3"
                        placeholder="Comments"
                        [(ngModel)]="newplant.Comments" [disabled]="viewMode"
                         
                        #commentsCxhvcjInput="ngModel"
                        
                        ></textarea>
                        <div *ngIf="commentsCxhvcjInput.invalid && (commentsCxhvcjInput.dirty || commentsCxhvcjInput.touched)" class="text-danger">
                            Comments.
                        </div>
           <!-- Show validation error message -->
   
            </div>
          </div>


        </div>

        <div class="form-group row my-4">
          <div class="col-sm-10 offset-sm-2">
            <button type="button" class="btn btn-outline-secondary mx-2" (click)="onCancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" *ngIf="!editMode" [disabled]="!fm.form.valid || isButtonDisabled">Submit</button>
            <button type="submit" class="btn btn-primary" *ngIf="editMode" [disabled]="!fm.form.valid || isButtonDisabled">Update</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>


<style>
  .form-control {
  max-width: 350px;
}
</style>
