
<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="page-title flex-grow-1">Audit Trials Document Effective</h4>

                <div class="back-icon custom-back-icon" style="margin-right: 10px;">
                    <a href="javascript:void(0);" onclick="history.back();">
                        <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px;"></i>
                    </a>
                </div>
                
                <div class="d-flex page-title-actions">
                    <div class="input-group custom-input-group">
                        <!-- Magnifying glass icon -->
                        <span class="input-group-text custom-input-group-text">
                            <i class="fas fa-search custom-search-icon"></i>
                        </span>
                        <input type="text" class="form-control custom-input" pInputText type="text" (input)="templatesTable.filterGlobal($any($event.target)?.value, 'contains')"  placeholder="Search" maxlength="250">
                   </div>
                      
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="p-4 bg-white shadow-dark rounded-2">
                <p-table #templatesTable [value]="types" 
                [globalFilterFields]="['Documenttypename', 'documenttypeprefix', 'Description','ModifiedBy','Status']"
                tableStyleClass="table table-striped"
                [rows]="itemsPerPage"
                [paginator]="true" 
                [totalRecords]="types.length"
                [rowsPerPageOptions]="rowsPerPageOptions"  
                [rowHover]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>S.No</th>
                            <th pSortableColumn="EntityName" style="width:20%">Effective Date<p-sortIcon field="Entity Name"></p-sortIcon></th>
                            <th pSortableColumn="EntityName" style="width:20%">Document Number<p-sortIcon field="Entity Name"></p-sortIcon></th>
                            <th pSortableColumn="EntityName" style="width:20%">Document Title<p-sortIcon field="Entity Name"></p-sortIcon></th>
                            
                             <!-- <th pSortableColumn="EntityName" style="width:20%">Review Date<p-sortIcon field="Entity Name"></p-sortIcon></th> -->
                             <!-- <th pSortableColumn="Message" style="width:10%">Message<p-sortIcon field="Message"></p-sortIcon> </th>
                             <th pSortableColumn="Type" style="width:15%">Type<p-sortIcon field="Type"></p-sortIcon></th> -->
                             <th pSortableColumn="UserName" style="width:20%">Initiated By<p-sortIcon field="User Name"></p-sortIcon></th>
                              <th pSortableColumn="ModifiedDate" style="width:1n00px">Initiated On<p-sortIcon field="ModifiedDate"></p-sortIcon></th>
    
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-doc let-i="rowIndex">
                        <tr>  
                            <td>{{ i + 1 }}</td> 
                            <td>
                                <a [routerLink]="['/auditeffectiveaddpage']" [queryParams]="{ DocumentName: doc?.Unique }">{{doc?.Unique}}</a>
                            </td>
                            <td>{{doc?.EntityInfo?.documentno}}</td>
                            <td>{{doc?.EntityInfo?.documenttitle}}</td>

                         

                           
                           
                
                          
                            <!-- <td>{{doc?.Message }}</td>
                            <td>{{doc?.Type }}</td> -->
                            <td>{{doc?.UserName}}</td>
                            <td>{{doc?.EntityInfo?.CreatedDate | date:'dd/MM/yyyy HH:mm' }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>








<style>
    /* Styles for .custom-input-group */
    .custom-input-group {
        background-color: white;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .custom-input-group-text {
            background: white;
            border: none;
            padding: 0;
            vertical-align: middle;
        }

        .custom-search-icon {
            font-size: 14px;
            margin-right: 5px;
            margin-left: 9px;
            color: #555;
        }

        .custom-input {
            border: none;
            padding: 5px;
            vertical-align: middle;
            background-color: white;
            box-shadow: none;
        }
    </style>














